// size
$base-space: 16px;
$border-large: 18px;
$border-small: 8px;
$content-width: 950px;
$content-bottom: 130px;

// font-size
$font-xlarge: 20px;
$font-large: 18px;
$font-medium: 16px;
$font-small: 14px;
$font-xsmall: 12px;

// font-weight
$font-bold: 600;

//color
$white: #eee;
$black: #111;
