// size
$base-space: 16px;
$border-large: 18px;
$border-small: 8px;
$content-width: 950px;
$content-bottom: 130px;

// font-size
$font-xlarge: 20px;
$font-large: 18px;
$font-medium: 16px;
$font-small: 14px;
$font-xsmall: 12px;

// font-weight
$font-bold: 600;

//color
$font-color: #eee;
$background-color: #eee;
$white: #eee;
$black: #111;

$colors: (
  "font-color": #111,
  "background": #edecdd,
  "border": 1px solid #111,
  "bouncer1": #ffc931,
  "bouncer2": #d74639,
  "nav-bgc": rgba(239, 222, 205, 0.2),
  "sm-nav-bgc": rgba(239, 222, 205, 0.9),
  "sm-nav-border": 1px solid rgba(2, 2, 2, 0.2),
  "filter-bar-border": 1px solid rgba(25, 25, 25, 0.5),
);

@mixin color-var($property, $color) {
  #{$property}: map-get($colors, "#{$color}");
  #{$property}: var(--#{$color}, map-get($colors, "#{$color}"));
}

:root {
  &[color-theme="light"] {
    --background: #edecdd;
    --font-color: #111;
    --border: 1px solid #111;
    --bouncer1: #ffc931;
    --bouncer2: #d74639;
    --nav-bgc: rgba(239, 222, 205, 0.2);
    --sm-nav-bgc: rgba(239, 222, 205, 0.9);
    --sm-nav-border: 1px solid rgba(2, 2, 2, 0.2);
    --filter-bar-border: 1px solid rgba(25, 25, 25, 0.5);
  }

  &[color-theme="dark"] {
    --background: linear-gradient(to left, #242359, #0e0e1f);
    --font-color: #eee;
    --border: 1px solid #eee;
    --bouncer1: #d557e1;
    --bouncer2: #01adf7;
    --nav-bgc: rgba(92, 66, 75, 0.2);
    --sm-nav-bgc: rgba(92, 66, 75, 0.9);
    --sm-nav-border: 1px solid rgba(255, 255, 255, 0.2);
    --filter-bar-border: 1px solid rgba(238, 238, 238, 0.5);
  }
}
