@charset "UTF-8";
:root[color-theme="light"] {
  --background: #edecdd;
  --font-color: #111;
  --border: 1px solid #111;
  --bouncer1: #ffc931;
  --bouncer2: #d74639;
  --nav-bgc: rgba(239, 222, 205, 0.2);
  --sm-nav-bgc: rgba(239, 222, 205, 0.9);
  --sm-nav-border: 1px solid rgba(2, 2, 2, 0.2);
  --filter-bar-border: 1px solid rgba(25, 25, 25, 0.5);
  --login-btn: linear-gradient(125deg, #f5d270, #d77253, #f5d270);
  --login-border: 2px solid #707070;
  --count-color: #454545;
  --secession-btn: #e1dec8;
}

:root[color-theme="dark"] {
  --background: linear-gradient(to left, #242359, #0e0e1f);
  --font-color: #eee;
  --border: 1px solid #eee;
  --bouncer1: #d557e1;
  --bouncer2: #01adf7;
  --nav-bgc: rgba(92, 66, 75, 0.2);
  --sm-nav-bgc: rgba(92, 66, 75, 0.9);
  --sm-nav-border: 1px solid rgba(255, 255, 255, 0.2);
  --filter-bar-border: 1px solid rgba(238, 238, 238, 0.5);
  --login-btn: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
  --login-border: 2px solid #adadad;
  --count-color: #aaaaaa;
  --secession-btn: #242359;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #edecdd;
  background: var(--background, #edecdd);
  overscroll-behavior: none;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: inherit;
}

body a :active {
  text-decoration: none;
}

body .bg-1 {
  position: fixed;
  right: 20px;
  top: -20px;
  width: 350px;
  height: 350px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc931), to(#cf3b2e));
  background: linear-gradient(#ffc931, #cf3b2e);
  -webkit-filter: blur(150px);
          filter: blur(150px);
  z-index: -1;
}

body .bg-2 {
  position: fixed;
  left: -20px;
  top: 50%;
  width: 220px;
  height: 220px;
  background: -webkit-gradient(linear, left top, left bottom, from(#da57e1), to(#01adf7));
  background: linear-gradient(#da57e1, #01adf7);
  -webkit-filter: blur(120px);
          filter: blur(120px);
  z-index: -1;
}

body .bg-3 {
  position: fixed;
  right: 30%;
  bottom: 20px;
  width: 200px;
  height: 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#747008), to(#436f1d));
  background: linear-gradient(#747008, #436f1d);
  -webkit-filter: blur(150px);
          filter: blur(150px);
  z-index: -1;
}

:root[color-theme="light"] {
  --background: #edecdd;
  --font-color: #111;
  --border: 1px solid #111;
  --bouncer1: #ffc931;
  --bouncer2: #d74639;
  --nav-bgc: rgba(239, 222, 205, 0.2);
  --sm-nav-bgc: rgba(239, 222, 205, 0.9);
  --sm-nav-border: 1px solid rgba(2, 2, 2, 0.2);
  --filter-bar-border: 1px solid rgba(25, 25, 25, 0.5);
  --login-btn: linear-gradient(125deg, #f5d270, #d77253, #f5d270);
  --login-border: 2px solid #707070;
  --count-color: #454545;
  --secession-btn: #e1dec8;
}

:root[color-theme="dark"] {
  --background: linear-gradient(to left, #242359, #0e0e1f);
  --font-color: #eee;
  --border: 1px solid #eee;
  --bouncer1: #d557e1;
  --bouncer2: #01adf7;
  --nav-bgc: rgba(92, 66, 75, 0.2);
  --sm-nav-bgc: rgba(92, 66, 75, 0.9);
  --sm-nav-border: 1px solid rgba(255, 255, 255, 0.2);
  --filter-bar-border: 1px solid rgba(238, 238, 238, 0.5);
  --login-btn: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
  --login-border: 2px solid #adadad;
  --count-color: #aaaaaa;
  --secession-btn: #242359;
}

nav {
  width: 100vw;
  min-width: 380px;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 40px;
  color: #111;
  color: var(--font-color, #111);
  z-index: 3;
  -webkit-transition: top 0.3s ease-in;
  transition: top 0.3s ease-in;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  background-color: rgba(239, 222, 205, 0.2);
  background-color: var(--nav-bgc, rgba(239, 222, 205, 0.2));
}

nav.scrollDown {
  top: -70px;
}

nav .logoAndName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

nav .logoAndName .logo {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

nav .searchAndLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

nav .searchAndLogin .searchInput {
  border: 0;
  outline: none;
  padding: 8px 16px;
  border-radius: 18px;
  width: 30px;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: transparent;
}

nav .searchAndLogin .searchInput.active {
  width: 250px;
  padding: 8px 32px;
  background-color: #eee;
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), 5px 5px 5px rgba(0, 0, 0, 0.1);
}

nav .searchAndLogin [type="search"]::-webkit-search-cancel-button,
nav .searchAndLogin [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

nav .searchAndLogin .btn {
  border: 0;
  outline: none;
  background-color: transparent;
  color: #111;
  color: var(--font-color, #111);
  padding: 6px;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;
}

nav .searchAndLogin .btn.search.active {
  color: #111;
}

nav .searchAndLogin .btn.close {
  opacity: 0;
  visibility: hidden;
}

nav .searchAndLogin .btn.close.active {
  color: #111;
  left: 220px;
  opacity: 1;
  visibility: visible;
}

nav .searchAndLogin .userAndDarkMode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .searchAndLogin .userAndDarkMode #logout {
  display: none;
}

nav .searchAndLogin .userAndDarkMode .login {
  padding: 0.5em 1.5em;
  border: 1px solid #111;
  border: var(--border, 1px solid #111);
  border-radius: 18px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 16px;
  background-color: transparent;
  color: #111;
  color: var(--font-color, #111);
}

nav .searchAndLogin .userAndDarkMode .login:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

nav .searchAndLogin .userAndDarkMode .mypage {
  margin-left: 16px;
  cursor: pointer;
}

nav .searchAndLogin .userAndDarkMode .dark-mode .mode-btn {
  border: 0;
  outline: none;
  background-color: transparent;
  padding: 6px 0 6px 6px;
  cursor: pointer;
  margin-left: 8px;
  color: #111;
  color: var(--font-color, #111);
}

nav .searchAndLogin .userAndDarkMode .dark-mode .mode-btn .modeText {
  display: none;
  font-size: 14px;
  font-weight: 600;
}

nav .searchAndLogin .userAndDarkMode .dark-mode .mode-btn.light {
  display: none;
}

nav .searchAndLogin .userAndDarkMode .dark-mode .mode-btn.light.active {
  display: block;
}

nav .searchAndLogin .userAndDarkMode .dark-mode .mode-btn.dark.deactive {
  display: none;
}

nav .searchAndLogin .ellipsis {
  color: #111;
  color: var(--font-color, #111);
  border: 0;
  outline: none;
  background-color: transparent;
  padding: 6px 0 6px 6px;
  display: none;
  cursor: pointer;
  margin-left: 8px;
}

@media (max-width: 767px) {
  nav {
    padding: 12px 20px;
    font-size: 16px;
  }
  nav .searchAndLogin .searchInput.active {
    width: 150px;
  }
  nav .searchAndLogin .btn.close.active {
    left: 122px;
  }
  nav .searchAndLogin .userAndDarkMode {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    right: -8px;
    top: 45px;
    width: 120px;
    z-index: 4;
    display: none;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(239, 222, 205, 0.9);
    background-color: var(--sm-nav-bgc, rgba(239, 222, 205, 0.9));
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  }
  nav .searchAndLogin .userAndDarkMode .login,
  nav .searchAndLogin .userAndDarkMode .mypage {
    display: block;
    margin-left: 0;
    text-align: center;
    border: none;
    font-size: 14px;
    padding: 8px 16px;
    border-bottom: 1px solid rgba(2, 2, 2, 0.2);
    border-bottom: var(--sm-nav-border, 1px solid rgba(2, 2, 2, 0.2));
    border-radius: 0;
    font-weight: 600;
  }
  nav .searchAndLogin .userAndDarkMode .login:hover,
  nav .searchAndLogin .userAndDarkMode .mypage:hover {
    background-color: transparent;
  }
  nav .searchAndLogin .userAndDarkMode.active {
    display: block;
  }
  nav .searchAndLogin .userAndDarkMode .dark-mode {
    width: 100%;
  }
  nav .searchAndLogin .userAndDarkMode .dark-mode .mode-btn {
    padding: 8px 16px;
    margin-left: 0;
    width: 100%;
  }
  nav .searchAndLogin .userAndDarkMode .dark-mode .mode-btn .modeText {
    display: inline;
  }
  nav .searchAndLogin .ellipsis {
    display: block;
  }
}

:root[color-theme="light"] {
  --background: #edecdd;
  --font-color: #111;
  --border: 1px solid #111;
  --bouncer1: #ffc931;
  --bouncer2: #d74639;
  --nav-bgc: rgba(239, 222, 205, 0.2);
  --sm-nav-bgc: rgba(239, 222, 205, 0.9);
  --sm-nav-border: 1px solid rgba(2, 2, 2, 0.2);
  --filter-bar-border: 1px solid rgba(25, 25, 25, 0.5);
  --login-btn: linear-gradient(125deg, #f5d270, #d77253, #f5d270);
  --login-border: 2px solid #707070;
  --count-color: #454545;
  --secession-btn: #e1dec8;
}

:root[color-theme="dark"] {
  --background: linear-gradient(to left, #242359, #0e0e1f);
  --font-color: #eee;
  --border: 1px solid #eee;
  --bouncer1: #d557e1;
  --bouncer2: #01adf7;
  --nav-bgc: rgba(92, 66, 75, 0.2);
  --sm-nav-bgc: rgba(92, 66, 75, 0.9);
  --sm-nav-border: 1px solid rgba(255, 255, 255, 0.2);
  --filter-bar-border: 1px solid rgba(238, 238, 238, 0.5);
  --login-btn: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
  --login-border: 2px solid #adadad;
  --count-color: #aaaaaa;
  --secession-btn: #242359;
}

.recommendation-warp {
  width: 950px;
  margin-bottom: 130px;
  margin-top: 150px;
  color: #111;
  color: var(--font-color, #111);
}

.recommendation-warp .title {
  display: block;
  width: 100%;
  padding: 0 16px;
  font-size: 18px;
  font-weight: 600;
  cursor: default;
  margin-bottom: 16px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.recommendation-warp .recommendation {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  padding: 24px 16px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.recommendation-warp .recommendation .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 70px;
  height: 60px;
}

.recommendation-warp .recommendation .loading.deactive {
  display: none;
}

.recommendation-warp .recommendation .loading .bouncer {
  width: 10px;
  height: 10px;
  background: linear-gradient(135deg, var(--bouncer1, #ffc931), var(--bouncer2, #d74639));
  border-radius: 50%;
  -webkit-animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
          animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
}

.recommendation-warp .recommendation .loading .bouncer:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  opacity: 0.9;
}

.recommendation-warp .recommendation .loading .bouncer:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  opacity: 0.8;
}

.recommendation-warp .recommendation .loading .bouncer:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  opacity: 0.7;
}

.recommendation-warp .recommendation .loading .bouncer:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  opacity: 0.6;
}

@-webkit-keyframes bouncer {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
}

@keyframes bouncer {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
}

.recommendation-warp .recommendation .weather {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 29%;
  height: 100%;
  position: relative;
}

.recommendation-warp .recommendation .weather.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommendation-warp .recommendation .weather .icon {
  width: 220px;
  position: absolute;
  top: -10px;
}

.recommendation-warp .recommendation .weather .info {
  text-align: center;
  position: absolute;
  top: 180px;
  cursor: default;
}

.recommendation-warp .recommendation .weather .info .tempAndLoc {
  font-size: 14px;
  margin-bottom: 4px;
}

.recommendation-warp .recommendation .weather .info .tempAndLoc .temperature {
  margin-right: 4px;
}

.recommendation-warp .recommendation .weather .info .tempAndLoc .state {
  font-size: 16px;
}

.recommendation-warp .recommendation .currentWeather-playlist {
  width: 70%;
  height: 100%;
  display: none;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.recommendation-warp .recommendation .currentWeather-playlist.active {
  display: -ms-grid;
  display: grid;
}

.recommendation-warp .recommendation .currentWeather-playlist .music {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px auto;
      grid-template-columns: 60px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.recommendation-warp .recommendation .currentWeather-playlist .music .album-cover {
  height: 50px;
  width: 50px;
  border-radius: 8px;
}

.recommendation-warp .recommendation .currentWeather-playlist .music .album-cover:hover + .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommendation-warp .recommendation .currentWeather-playlist .music .manipul {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background-color: #111;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  opacity: 0.9;
  border: 0;
  outline: none;
  color: #eee;
}

.recommendation-warp .recommendation .currentWeather-playlist .music .manipul.play:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommendation-warp .recommendation .currentWeather-playlist .music .manipul.play.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommendation-warp .recommendation .currentWeather-playlist .music .manipul.pause.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommendation-warp .recommendation .currentWeather-playlist .music .song-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  padding: 8px;
  cursor: default;
  color: #111;
  color: var(--font-color, #111);
}

.recommendation-warp .recommendation .currentWeather-playlist .music .song-info .artist {
  font-size: 12px;
  opacity: 80%;
  margin-top: 2px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .recommendation-warp {
    width: 680px;
  }
  .recommendation-warp .recommendation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 520px;
  }
  .recommendation-warp .recommendation .weather {
    width: 90%;
    height: 380px;
  }
  .recommendation-warp .recommendation .weather .icon {
    width: 200px;
    top: -30px;
  }
  .recommendation-warp .recommendation .weather .info {
    top: 130px;
  }
  .recommendation-warp .recommendation .currentWeather-playlist {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .recommendation-warp {
    width: 350px;
    margin-top: 90px;
  }
  .recommendation-warp .recommendation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 790px;
  }
  .recommendation-warp .recommendation .loading {
    margin-top: 100px;
  }
  .recommendation-warp .recommendation .weather {
    width: 90%;
    height: 260px;
  }
  .recommendation-warp .recommendation .weather .icon {
    width: 180px;
    top: -30px;
  }
  .recommendation-warp .recommendation .weather .info {
    top: 120px;
  }
  .recommendation-warp .recommendation .currentWeather-playlist {
    width: 90%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
  }
}

:root[color-theme="light"] {
  --background: #edecdd;
  --font-color: #111;
  --border: 1px solid #111;
  --bouncer1: #ffc931;
  --bouncer2: #d74639;
  --nav-bgc: rgba(239, 222, 205, 0.2);
  --sm-nav-bgc: rgba(239, 222, 205, 0.9);
  --sm-nav-border: 1px solid rgba(2, 2, 2, 0.2);
  --filter-bar-border: 1px solid rgba(25, 25, 25, 0.5);
  --login-btn: linear-gradient(125deg, #f5d270, #d77253, #f5d270);
  --login-border: 2px solid #707070;
  --count-color: #454545;
  --secession-btn: #e1dec8;
}

:root[color-theme="dark"] {
  --background: linear-gradient(to left, #242359, #0e0e1f);
  --font-color: #eee;
  --border: 1px solid #eee;
  --bouncer1: #d557e1;
  --bouncer2: #01adf7;
  --nav-bgc: rgba(92, 66, 75, 0.2);
  --sm-nav-bgc: rgba(92, 66, 75, 0.9);
  --sm-nav-border: 1px solid rgba(255, 255, 255, 0.2);
  --filter-bar-border: 1px solid rgba(238, 238, 238, 0.5);
  --login-btn: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
  --login-border: 2px solid #adadad;
  --count-color: #aaaaaa;
  --secession-btn: #242359;
}

.musicFilter-wrap {
  width: 950px;
  margin-bottom: 130px;
}

.musicFilter-wrap .titleAndFilters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 16px;
}

.musicFilter-wrap .titleAndFilters .title {
  font-size: 18px;
  font-weight: 600;
  color: #111;
  color: var(--font-color, #111);
}

.musicFilter-wrap .titleAndFilters .filter-btn {
  border: 0;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #111;
  color: var(--font-color, #111);
  cursor: pointer;
}

.musicFilter-wrap .titleAndFilters .blank-bar {
  height: 100vh;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  display: none;
}

.musicFilter-wrap .titleAndFilters .blank-bar.active {
  display: block;
}

.musicFilter-wrap .titleAndFilters .filter-bar {
  position: fixed;
  right: -300px;
  top: 0;
  height: 100vh;
  width: 300px;
  z-index: 4;
  padding: 0 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.musicFilter-wrap .titleAndFilters .filter-bar.active {
  right: 0;
  -webkit-box-shadow: -15px 0px 18px 5px rgba(0, 0, 0, 0.4);
          box-shadow: -15px 0px 18px 5px rgba(0, 0, 0, 0.4);
}

.musicFilter-wrap .titleAndFilters .filter-bar .filter-wrap {
  width: 100%;
  overflow-y: scroll;
}

.musicFilter-wrap .titleAndFilters .filter-bar .filter-wrap .btn-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.musicFilter-wrap .titleAndFilters .filter-bar .filter-wrap .btn-box .btn {
  outline: none;
  border: 0;
  background-color: transparent;
  color: #111;
  color: var(--font-color, #111);
  padding: 0.5em;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.musicFilter-wrap .titleAndFilters .filter-bar .filter-wrap .btn-box .btn.reset {
  font-size: 14px;
  font-weight: 400;
}

.musicFilter-wrap .titleAndFilters .filter-bar .filter-wrap .filters {
  color: #111;
  color: var(--font-color, #111);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  margin-bottom: 32px;
}

.musicFilter-wrap .titleAndFilters .filter-bar .filter-wrap .filters .category {
  margin-bottom: 4px;
  cursor: pointer;
  border-bottom: 1px solid rgba(25, 25, 25, 0.5);
  border-bottom: var(--filter-bar-border, 1px solid rgba(25, 25, 25, 0.5));
  cursor: default;
  padding-bottom: 4px;
  margin-top: 16px;
  font-weight: 600;
  padding-left: 4px;
  color: #111;
}

.musicFilter-wrap .titleAndFilters .filter-bar .filter-wrap .filters input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.musicFilter-wrap .titleAndFilters .filter-bar .filter-wrap .filters .option {
  margin: 3px 0;
  padding-left: 4px;
  cursor: pointer;
  position: relative;
}

.musicFilter-wrap .titleAndFilters .filter-bar .filter-wrap .filters .option.active {
  color: #111;
}

.musicFilter-wrap .titleAndFilters .filter-bar .filter-wrap .filters .option.active::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 30px;
  width: 16px;
  height: 16px;
  background-color: #111;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.musicFilter-wrap .titleAndFilters .filter-bar .filter-wrap .filters .option.active::after {
  content: "✓";
  position: absolute;
  right: 32px;
  color: #eee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: -1px;
}

.musicFilter-wrap .playlist-wrap {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 16px 8px;
}

.musicFilter-wrap .playlist-wrap .playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.musicFilter-wrap .playlist-wrap .playlist.invisible {
  display: none;
}

.musicFilter-wrap .playlist-wrap .playlist:hover .info {
  bottom: 0;
}

.musicFilter-wrap .playlist-wrap .playlist:hover .title {
  bottom: 60px;
}

.musicFilter-wrap .playlist-wrap .playlist .cover {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  -o-object-fit: cover;
     object-fit: cover;
}

.musicFilter-wrap .playlist-wrap .playlist .title {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  position: absolute;
  bottom: 0;
  color: #eee;
  font-weight: 600;
  font-size: 20px;
  -webkit-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
}

.musicFilter-wrap .playlist-wrap .playlist .info {
  width: 100%;
  height: 75px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -80px;
  padding: 16px;
  color: #eee;
  -webkit-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
}

.musicFilter-wrap .playlist-wrap .playlist .info .tags {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.musicFilter-wrap .playlist-wrap .playlist .info .songs {
  font-size: 12px;
}

.musicFilter-wrap .playlist-wrap .playlist .info .songs .count {
  margin-left: 4px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .musicFilter-wrap {
    width: 680px;
  }
  .musicFilter-wrap .playlist-wrap {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .musicFilter-wrap {
    width: 350px;
  }
  .musicFilter-wrap .playlist-wrap {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .musicFilter-wrap .playlist-wrap .playlist {
    height: 250px;
  }
  .musicFilter-wrap .playlist-wrap .playlist .title {
    font-size: 18px;
  }
  .musicFilter-wrap .playlist-wrap .playlist .info {
    height: 70px;
  }
}

:root[color-theme="light"] {
  --background: #edecdd;
  --font-color: #111;
  --border: 1px solid #111;
  --bouncer1: #ffc931;
  --bouncer2: #d74639;
  --nav-bgc: rgba(239, 222, 205, 0.2);
  --sm-nav-bgc: rgba(239, 222, 205, 0.9);
  --sm-nav-border: 1px solid rgba(2, 2, 2, 0.2);
  --filter-bar-border: 1px solid rgba(25, 25, 25, 0.5);
  --login-btn: linear-gradient(125deg, #f5d270, #d77253, #f5d270);
  --login-border: 2px solid #707070;
  --count-color: #454545;
  --secession-btn: #e1dec8;
}

:root[color-theme="dark"] {
  --background: linear-gradient(to left, #242359, #0e0e1f);
  --font-color: #eee;
  --border: 1px solid #eee;
  --bouncer1: #d557e1;
  --bouncer2: #01adf7;
  --nav-bgc: rgba(92, 66, 75, 0.2);
  --sm-nav-bgc: rgba(92, 66, 75, 0.9);
  --sm-nav-border: 1px solid rgba(255, 255, 255, 0.2);
  --filter-bar-border: 1px solid rgba(238, 238, 238, 0.5);
  --login-btn: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
  --login-border: 2px solid #adadad;
  --count-color: #aaaaaa;
  --secession-btn: #242359;
}

.search-wrap {
  margin: 150px 0;
  width: 1000px;
  color: #111;
  color: var(--font-color, #111);
  position: relative;
}

.search-wrap .value {
  font-size: 18px;
  margin-bottom: 16px;
  padding: 0 16px;
}

.search-wrap .noResult {
  font-size: 20px;
  width: 100%;
  height: 50vh;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-wrap .noResult.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-wrap .noResult .fa-exclamation-triangle {
  margin-right: 10px;
}

.search-wrap .sort {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13fr 8fr 8fr 40px;
      grid-template-columns: 13fr 8fr 8fr 40px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  border-top: 1px solid rgba(2, 2, 2, 0.2);
  border-top: var(--sm-nav-border, 1px solid rgba(2, 2, 2, 0.2));
  border-bottom: 1px solid rgba(2, 2, 2, 0.2);
  border-bottom: var(--sm-nav-border, 1px solid rgba(2, 2, 2, 0.2));
  font-size: 14px;
  padding: 4px 0 4px 16px;
}

.search-wrap .sort .name {
  padding-left: 16px;
}

.search-wrap .sort.deactive {
  display: none;
}

.search-wrap .musicList.deactive {
  display: none;
}

.search-wrap .musicList .music {
  width: 100%;
  font-size: 14px;
  padding: 5px 8px;
  border-bottom: 1px solid rgba(2, 2, 2, 0.2);
  border-bottom: var(--sm-nav-border, 1px solid rgba(2, 2, 2, 0.2));
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-wrap .musicList .music .content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 72px 4fr;
      grid-template-columns: 72px 4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  position: relative;
}

.search-wrap .musicList .music .content .manipul {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 8px;
  background-color: #111;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  opacity: 0.9;
  border: 0;
  outline: none;
  color: #eee;
}

.search-wrap .musicList .music .content .manipul.play:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-wrap .musicList .music .content .manipul.play.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-wrap .musicList .music .content .manipul.pause.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-wrap .musicList .music .content .cover {
  width: 55px;
  height: 55px;
  border-radius: 8px;
}

.search-wrap .musicList .music .content .cover:hover ~ .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-wrap .musicList .music .content .info {
  width: 100%;
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.search-wrap .musicList .music .content .info .descrip {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.search-wrap .musicList .music .content .info .descrip .dot {
  display: none;
}

.search-wrap .musicList .music .add {
  outline: none;
  border: 0;
  background-color: transparent;
  color: #111;
  color: var(--font-color, #111);
  margin-right: 8px;
}

.search-wrap .musicList .music .addModal {
  width: 200px;
  position: absolute;
  z-index: 2;
  right: 42px;
  top: 36px;
  border-radius: 8px;
  padding: 8px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(239, 222, 205, 0.9);
  background-color: var(--sm-nav-bgc, rgba(239, 222, 205, 0.9));
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.search-wrap .musicList .music .addModal.deactive {
  display: none;
}

.search-wrap .musicList .music .addModal .myPlaylist {
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid rgba(2, 2, 2, 0.2);
  border-bottom: var(--sm-nav-border, 1px solid rgba(2, 2, 2, 0.2));
  font-weight: 600;
  cursor: pointer;
}

.search-wrap .musicList .music .addModal .myPlaylist:first-child {
  padding: 8px 16px;
  opacity: 0.8;
  font-weight: 400;
  pointer-events: none;
}

.search-wrap .musicList .music .addModal .myPlaylist:last-child {
  border-bottom: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.search-wrap .alertAdd {
  position: absolute;
  top: 105%;
  left: 30%;
  padding: 16px 32px;
  background-color: #0e0e22;
  -webkit-animation: fadeIn 0.5s ease-in-out;
          animation: fadeIn 0.5s ease-in-out;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .search-wrap {
    width: 740px;
  }
  .search-wrap .noResult {
    width: 740px;
  }
  .search-wrap .sort {
    -ms-grid-columns: 7fr 4fr 4fr 40px;
        grid-template-columns: 7fr 4fr 4fr 40px;
  }
}

@media (max-width: 767px) {
  .search-wrap {
    width: 350px;
    margin-top: 90px;
  }
  .search-wrap .noResult {
    width: 350px;
    font-size: 18px;
  }
  .search-wrap .sort {
    font-size: 12px;
    padding: 3px 0 3px 16px;
    -ms-grid-columns: 1fr 30px;
        grid-template-columns: 1fr 30px;
  }
  .search-wrap .sort .artist {
    display: none;
  }
  .search-wrap .sort .album {
    display: none;
  }
  .search-wrap .musicList .music {
    font-size: 12px;
  }
  .search-wrap .musicList .music .content .info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .search-wrap .musicList .music .content .info .descrip {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .search-wrap .musicList .music .content .info .descrip .dot {
    display: inline;
    margin: 0 3px;
  }
  .search-wrap .musicList .music .add {
    margin-right: 3px;
  }
  .search-wrap .musicList .music .addModal {
    width: 150px;
    font-size: 12px;
    right: 32px;
    padding: 4px 0;
  }
  .search-wrap .musicList .music .addModal .myPlaylist {
    padding: 10.66667px 16px;
  }
  .search-wrap .alertAdd {
    font-size: 12px;
    left: 15%;
  }
}
/*# sourceMappingURL=style.css.map */