<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./components/navbar/navbar.scss" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="./components/mypage/menu.css" />
  <link rel="stylesheet" href="./components/mypage/share.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>Document</title>
</head>


<body>
  <nav>
    <div class="logoAndName">
      <a href="index.html"><img class="logo" src="img/favicon.png" alt="img" /></a>
      <a href="index.html" class="name">날씨음악</a>
    </div>
    <div class="searchAndLogin">
      <input type="search" class="searchInput" placeholder="검색" />
      <button class="btn search">
        <i class="fas fa-search fa-lg"></i>
      </button>
      <button class="btn close"><i class="fas fa-times fa-lg"></i></button>
      <!-- {% if user.is_authenticated %} -->
      <!-- <a href="mypage.html" class="mypage">마이페이지</a> -->
      <!-- <form action="{% url 'logout' %}" method="POST"> -->
      <!-- {% csrf_token %} -->
      <!-- <input type="submit" class="login" value="로그아웃" /> -->
      <!-- </form> -->
      <!-- {% else %} -->
      <a href="login.html" class="login">로그인</a>
      <!-- {% endif %} -->
    </div>
  </nav>
  <div class="container"></div>
  <div class="bg-1"></div>
  <div class="bg-2"></div>
  <div class="bg-3"></div>
</body>