<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <script
      defer
      src="https://kit.fontawesome.com/ef81e253aa.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="components/mypage/menu.css" />
    <link rel="stylesheet" href="components/mypage/share.css" />
    <link rel="stylesheet" href="components/mypage/myplaylist-list.css" />
    <script defer src="components/navbar/navbar.js"></script>
    <script defer src="components/search/search.js"></script>
    <script defer src="components/mypage/myplaylist-list.js"></script>
    <script
      defer
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <title>날씨에 맞는 음악 추천</title>
  </head>

  <body>
    <nav>
      <a href="index.html" class="logoAndName">
        <img class="logo" src="img/favicon.png" alt="img" />
        <span class="name">날씨음악</span>
      </a>
      <div class="searchAndLogin">
        <input
          id="index"
          type="search"
          class="searchInput"
          placeholder="검색"
        />
        <button class="btn search">
          <i class="fas fa-search fa-lg"></i>
        </button>
        <button class="btn close"><i class="fas fa-times fa-lg"></i></button>
        <div class="userAndDarkMode">
          <!-- {% if user.is_authenticated %} -->
          <a href="mypage.html" class="mypage">마이페이지</a>
          <form action="logout" method="POST">
            <!-- {% csrf_token %} -->
            <label for="logout" class="login logout">로그아웃</label>
            <input id="logout" type="submit" class="logout" value="로그아웃" />
          </form>
          <!-- {% else %} -->
          <!-- <a href="login.html"><span class="login">로그인</span></a> -->
          <!-- {% endif %} -->
          <div class="dark-mode">
            <button class="light mode-btn">
              <i class="fas fa-sun fa-lg"></i>
              <span class="modeText">라이트 모드</span>
            </button>
            <button class="dark mode-btn">
              <i class="fas fa-moon fa-lg"></i>
              <span class="modeText">다크 모드</span>
            </button>
          </div>
        </div>
        <button class="ellipsis">
          <i class="fas fa-bars fa-lg"></i>
        </button>
      </div>
    </nav>

    <div class="container">
      <div class="playlist-info">
        <div class="thumnail">
          <img
            class="thumnail_img"
            src="img/playlistCovers/between.jpeg"
            alt="playlist-thumbnail"
          />
        </div>
        <div class="info">
          <div class="playlist-title">운동할 때 들어야징</div>
          <div class="playlist-desc">
            운동할 때 들으려고 했는데 잘 모르겠어,,
          </div>
          <div class="playlist-count">
            <span class="material-icons-outlined"> headphones </span
            ><span class="count">노래 9곡</span>
          </div>
        </div>
      </div>
      <div class="content-wrap">
        <div class="sort">
          <span class="sort-cover">커버</span>
          <span class="sort-title">곡</span>
          <span class="sort-artist">아티스트</span>
          <span class="sort-album">앨범</span>
          <span class="sort-remove">제거</span>
        </div>
        <div class="items">
          <!-- item이란 이름으로 div 요소들 생성  -->
          <!-- <div class="item">
          <div class="cover"><img src=".img/albumCovers/AtMyWorst.jpg" alt="coverImg"></div>
          <div class="title">At My Worst (feat. Kehlani)</div>
          <div class="artist">Pink Sweat$</div>
          <div class="album">At My Worst (feat. Kehlani)</div>
          <div class="remove material-icons-outlined" onclick="onButton(this)">delete_outline</div>
        </div> -->
        </div>
      </div>
    </div>
    <div class="bg-1"></div>
    <div class="bg-2"></div>
    <div class="bg-3"></div>
  </body>
</html>
