<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="img/favicon.ico" />
  <script src="https://kit.fontawesome.com/ef81e253aa.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./static/components/navbar/navbar.scss" />
  <link rel="stylesheet" href="static/css/style.css" />
  <link rel="stylesheet" href="./static/components/mypage/menu.css" />
  <link rel="stylesheet" href="./static/components/mypage/myplaylist.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <script defer src="./static/components/mypage/myplaylist.js"></script>
  <script defer src="static/components/navbar/navbar.js"></script>
  <script defer src="static/components/weatherMusic/music.js"></script>
  <script defer src="static/components/mainpage_playlist/mainpagePlaylist.js"></script>
  <script defer src="static/components/search/search.js"></script>
  <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <title>날씨에 맞는 음악 추천</title>
</head>

<body>
  <nav>
    <div class="logoAndName">
      <img class="logo navMain" src="{% static 'img/favicon.png' %}" alt="img" />
      <span class="name navMain">날씨음악</span>
    </div>
    <div class="searchAndLogin">
      <input id="index" type="search" class="searchInput" placeholder="검색" />
      <button class="btn search">
        <i class="fas fa-search fa-lg"></i>
      </button>
      <button class="btn close"><i class="fas fa-times fa-lg"></i></button>
      {% if user.is_authenticated %}
      <a href="{% url 'mypage' %}" class="mypage">마이페이지</a>
      <form action="logout" method="POST">
        {% csrf_token %}
        <input type="submit" class="login" value="로그아웃" />
      </form>
      {% else %}
      <span class="login toLogin">로그인</span>
      {% endif %}
    </div>
  </nav>
  <div class="container">
    <div class="mypage__menu">
      <ul class="menu__list">
        <li class="list-group-item nonactive material-icons">
          account_circle<a href="/mypage">비밀번호 변경</a>
        </li>
        <li class="list-group-item active material-icons">
          music_note<a href="/myplaylist">나의 플레이리스트</a>
        </li>
        <li class="list-group-item nonactive material-icons">
          person_add<a href="/share">친구목록</a>
        </li>
        <li class="list-group-item nonactive material-icons">
          delete_forever<a href="/secession">회원탈퇴</a>
        </li>
      </ul>
    </div>
    <div class="myplaylist">
      <h2>나만의 플레이리스트</h2>
      <ul class="myplaylist__list">
        <li class="list-group-add">
          <div class="myplaylist__add" title="새 재생목록 생성">
            <div class="material-icons-outlined">add</div>
          </div>
          <div class="myplaylist__title">새 재생목록</div>
        </li>
        <li class="list-group-play" onclick="pageChange(this);">
          <img class="myplaylist__thumnail" src="./static/img/albumCovers/하루살이.jpeg" alt="플레이리스트 이미지" />
          <div class="myplaylist__title">운동할때 들어야징</div>
          <span class="myplaylist__count">노래 9곡</span>
          <span title="공유하기" class="material-icons-outlined myplaylist__shareBtn">ios_share</span>
        </li>
      </ul>
    </div>
    <!-- 모달창 -->

    <div class="newplaylist">
      <div class="newplaylist__container">
        <h2>새 재생목록</h2>
        <div class="new__title">
          <input class="title" type="text" name="newplaylist" placeholder="제목" />
        </div>
        <div class="new__desc">
          <input class="desc" type="text" name="newplaylist" placeholder="설명" />
        </div>
        <div class="btn__group">
          <button class="closeBtn">취소</button>
          <button class="saveBtn" onClick="addPlaylist()">저장</button>
        </div>
      </div>
    </div>
  </div>

  <form action="./myplaylist-list" id="playlist_title">
    <input type="hidden" name="title" />
  </form>
  <div class="cover"></div>
  <div class="bg-1"></div>
  <div class="bg-2"></div>
  <div class="bg-3"></div>
</body>

</html>