<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./components/navbar/navbar.scss" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="./components/mypage/menu.css" />
  <link rel="stylesheet" href="./components/mypage/secession.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="./components/mypage/secession.js"></script>
  <title>Document</title>
</head>


<body>
  <nav>
    <div class="logoAndName">
      <a href="index.html"
        ><img class="logo" src="img/favicon.png" alt="img"
      /></a>
      <a href="index.html" class="name">날씨음악</a>
    </div>
    <div class="searchAndLogin">
      <input type="search" class="searchInput" placeholder="검색" />
      <button class="btn search">
        <i class="fas fa-search fa-lg"></i>
      </button>
      <button class="btn close"><i class="fas fa-times fa-lg"></i></button>
      <!-- {% if user.is_authenticated %} -->
      <!-- <a href="mypage.html" class="mypage">마이페이지</a> -->
      <!-- <form action="{% url 'logout' %}" method="POST"> -->
      <!-- {% csrf_token %} -->
      <!-- <input type="submit" class="login" value="로그아웃" /> -->
      <!-- </form> -->
      <!-- {% else %} -->
      <a href="login.html" class="login">로그인</a>
      <!-- {% endif %} -->
    </div>
  </nav>
  <div class="container">
    <div class="mypage__menu">
      <ul class="menu__list">
        <li class="list-group-item nonactive material-icons">account_circle<a href="/mypage.html">비밀번호 변경</a></li>
        <li class="list-group-item nonactive material-icons">music_note<a href="/myplaylist.html">나의 플레이리스트</a></li>
        <li class="list-group-item nonactive material-icons">person_add<a href="/share.html">친구목록</a></li>
        <li class="list-group-item active material-icons">delete_forever<a href="/secession.html">회원탈퇴</a></li>
      </ul>
      </ul>
    </div>
    <div class="secession_container">
      <h2>탈퇴 안내</h2>
      <p>회원탈퇴를 신청하기 전에 안내 사항을 꼭 확인해주세요.</p>
      <span class="material-icons-outlined">
        done
      </span>
      <span>사용하고 계신 아이디(rlarkwjd123)는 탈퇴할 경우 재사용 및 복구가 불가능합니다.
        탈퇴한 아이디는 본인과 타인 모두 재사용 및 복구가 불가하오니 신중하게 선택하시기 바랍니다.</span>
      <p> 회원정보 및 플레이리스트 등 개인형 서비스 이용기록은 모두 삭제되며, 삭제된 데이터는 복구되지 않습니다.
        삭제되는 내용을 확인하시고 필요한 데이터는 미리 백업을 해주세요.
      </p>

      <div class="check_guide">
        <span class="material-icons-outlined circleBtn active">
          radio_button_unchecked
        </span>
        <span class="material-icons-outlined checkBtn">
          check_circle
        </span>
        <span>안내 사항을 모두 확인하였으며, 이에 동의합니다.</span>
      </div>
      <button class="okayBtn">확인</button>
    </div>
  </div>

</body>

</html>