{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="img/favicon.ico" />
  <script src="https://kit.fontawesome.com/ef81e253aa.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/components/navbar/navbar.scss" />
  <link rel="stylesheet" href="static/css/style.css" />
  <link rel="stylesheet" href="static/components/mypage/menu.css" />
  <link rel="stylesheet" href="static/components/mypage/share.css" />
  <script defer src="static/components/mypage/share.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <script defer src="static/components/navbar/navbar.js"></script>
  <script defer src="static/components/weatherMusic/music.js"></script>
  <script defer src="static/components/mainpage_playlist/mainpagePlaylist.js"></script>
  <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- <script defer src="components/search/search.js"></script> -->
  <title>날씨에 맞는 음악 추천</title>
</head>

<body>
  <nav>
    <div class="logoAndName">
      <a href="index"><img class="logo" src="{% static 'img/favicon.png' %}" alt="img" /></a>
      <a href="index" class="name">날씨음악</a>
    </div>
    <div class="searchAndLogin">
      <input id="share" type="search" class="searchInput" placeholder="검색" />
      <button class="btn search">
        <i class="fas fa-search fa-lg"></i>
      </button>
      <button class="btn close"><i class="fas fa-times fa-lg"></i></button>
      {% if user.is_authenticated %}
      <a href="{% url 'mypage' %}" class="mypage">마이페이지</a>
      <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="login" value="로그아웃" />
      </form>
      {% else %}
      <a href="login" class="login">로그인</a>
      {% endif %}
    </div>
  </nav>
  <div class="container">
    <div class="mypage__menu">
      <ul class="menu__list">
        <li class="list-group-item nonactive material-icons">
          account_circle<a href="/mypage">비밀번호 변경</a>
        </li>
        <li class="list-group-item nonactive material-icons">
          music_note<a href="/myplaylist">나의 플레이리스트</a>
        </li>
        <li class="list-group-item active material-icons">
          person_add<a href="/share">친구목록</a>
        </li>
        <li class="list-group-item nonactive material-icons">
          delete_forever<a href="/secession">회원탈퇴</a>
        </li>
      </ul>
    </div>
    <div class="share-main">
      <div class="description-wrap">
        <div class="info">
          <span class="title active">친구목록</span>
          <span class="find">친구검색</span>
        </div>
      </div>
      <!-- 친구목록 -->
      <div class="title-wrap active">
        <div class="sort">
          <span class="id">아이디</span>
          <span class="name">이름</span>
          <span class="share">공유</span>
        </div>
        <div class="friends"></div>
      </div>
      <!-- 친구검색 -->
      <div class="find-wrap">
        <input type="search" class="findInput" onkeyup="filter()" placeholder="검색" />
        <div class="sort">
          <span class="id">아이디</span>
          <span class="name">이름</span>
          <span class="share">추가</span>
        </div>
        <div class="allUsers">
          <div class="allUser"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-1"></div>
  <div class="bg-2"></div>
  <div class="bg-3"></div>
</body>

</html>