html {
  height: 100%;
}
body {
  min-height: 100%;
}
li{
  list-style: none;
}
.mypage{
  height: 75vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto auto;

  .mypage__menu{
    ul *{
      height: 36px;
    }
    .menu__list {
      border: 1px solid;
    }
  }
  
  .menu__contents{
    width: 80%;
  }
}

