@import "../../css/variables";

.container {
  width: 100%;
  height: 80vh;
  display: flex;
  margin-top: 85px;
  @include color-var(color, font-color);
  padding: 0 18px;

  .mypage__menu {
    width: 240px;
    margin-top: 30px;
    padding-left: 20px;

    .menu__list {
      .active {
        border: 2px solid var(--font-color, map-get($colors, font-color));
        border-radius: 20px;
      }

      li {
        display: flex;
        padding: 10px;
        margin-bottom: 30px;
        font-size: 14px;
        transition: transform 0.3s ease;

        a {
          margin-left: 5px;
        }
      }
      .nonactive:hover {
        transform: translateX(20px);
      }
    }
  }
}
@media screen and (max-width: 910px) {
  .container {
    .mypage__menu {
      width: 240px;
      margin-top: 30px;

      .menu__list {
        li {
          display: flex;
          padding: 10px;
          margin-bottom: 30px;
          font-size: 14px;

          a {
            margin-left: 5px;
          }
        }
        .nonactive:hover {
          transform: translateX(20px);
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    .mypage__menu {
      width: 99%;
      height: fit-content;
      margin: 0 auto;
      .menu__list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .nonactive:hover {
          transform: translateY(-10px);
        }
      }
    }
  }
}
