<!DOCTYPE html>
<html lang="ko">
  <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="static/img/favicon.ico" />
  <script src="https://kit.fontawesome.com/ef81e253aa.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/css/style.css" />
  <link rel="stylesheet" href="static/components/mypage/mypage.css" />
  <link rel="stylesheet" href="static/components/mypage/menu.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <script defer src=".static/components/mypage/mypage.js"></script>
  <script defer src="static/components/navbar/navbar.js"></script>
  <script defer src="static/components/search/search.js"></script>
  <title>NOCHU - 날씨에 맞는 노래 추천</title>
</head>

<body>
  <nav>
    <a href="index " class="logoAndName">
      <img class="logo" src="static/img/favicon.png" alt="img" />
      <span class="name">NOCHU</span>
    </a>
    <div class="searchAndLogin">
      <input id="index" type="search" class="searchInput" placeholder="검색" />
      <button class="btn search">
        <i class="fas fa-search fa-lg"></i>
      </button>
      <button class="btn close"><i class="fas fa-times fa-lg"></i></button>
      <div class="userAndDarkMode">
        <!-- {% if user.is_authenticated %} -->
        <a href="mypage " class="mypage">마이페이지</a>
        <form action="logout">
          <!-- {% csrf_token %} -->
          <label for="logout" class="login logout">로그아웃</label>
          <input id="logout" type="submit" class="logout" value="로그아웃" />
        </form>
        <!-- {% else %} -->
        <!-- <a href="login "><span class="login">로그인</span></a> -->
        <!-- {% endif %} -->
        <div class="dark-mode">
          <button class="light mode-btn">
            <i class="fas fa-sun fa-lg"></i>
            <span class="modeText">라이트 모드</span>
          </button>
          <button class="dark mode-btn">
            <i class="fas fa-moon fa-lg"></i>
            <span class="modeText">다크 모드</span>
          </button>
        </div>
        <button class="ellipsis">
          <i class="fas fa-bars fa-lg"></i>
        </button>
      </div>
    </nav>
    <div class="container">
      <div class="mypage__menu">
        <ul class="menu__list">
          <li class="list-group-item active fas fa-key">
            <a href="mypage">비밀번호 변경</a>
          </li>
          <li class="list-group-item nonactive fas fa-music">
            <a href="myplaylist">나의 플레이리스트</a>
          </li>
          <li class="list-group-item nonactive fas fa-user-plus">
            <a href="share">친구목록</a>
          </li>
          <li class="list-group-item nonactive fas fa-user-minus">
            <a href="secession">회원탈퇴</a>
          </li>
        </ul>
      </div>
      <div class="menu__contents">
        <form class="menu__content" method="POST"> {% csrf_token %}
          <h2>비밀번호 변경</h2>
          <div class="contents">
            <div class="contents_tag">아이디</div>
            <!-- 아이디 표시되도록  -->
            <input class="mypage_username content" placeholder="{{username}}" type="text" disabled />
          </div>
          <div class="contents">
            <div class="contents_tag">기존 비밀번호</div>
            <input class="mypage_old_pw content" name="oldPassword" type="password" />
          </div>
          <div class="contents">
            <div class="contents_tag">새 비밀번호</div>
            <input class="mypage_new_pw1 content" name="newPassword" type="password" />
          </div>
          <span class="pw1_error error"></span>
          <div class="contents">
            <div class="contents_tag">새 비밀번호 확인</div>
            <input class="mypage_new_pw2 content" type="password" />
          </div>
          <span class="pw2_error error"></span>
		  <span style="color:red;">{{notice}}</span>
          <button type="submit" class="change_pwBtn">비밀번호 변경</button>
        </form>
      </div>
    </div>
    <div class="bg-1"></div>
    <div class="bg-2"></div>
    <div class="bg-3"></div>
  </body>
</html>
