@import "../../css/variables";

.recommendation-warp {
  width: $content-width;
  margin-bottom: $content-bottom;
  margin-top: 150px;
  color: $white;

  .title {
    display: block;
    width: 100%;
    padding: 0 $base-space;
    font-size: $font-large;
    font-weight: $font-bold;
    cursor: default;
    margin-bottom: $base-space;
    backdrop-filter: blur(5px);
  }

  .recommendation {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: $border-small;
    padding: $base-space * 1.5 $base-space;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);

    .weather {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 29%;
      height: 100%;
      position: relative;

      .icon {
        width: 220px;
        position: absolute;
        top: -10px;
      }

      .info {
        text-align: center;
        position: absolute;
        top: 180px;
        cursor: default;

        .tempAndLoc {
          font-size: $font-small;
          margin-bottom: 4px;

          .temperature {
            margin-right: 4px;
          }

          .state {
            font-size: $font-medium;
          }
        }
      }
    }

    .currentWeather-playlist {
      width: 70%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 1fr);

      .music {
        width: 100%;
        display: grid;
        grid-template-columns: 60px auto;
        align-items: center;

        .album-cover {
          height: 50px;
          width: 50px;
          border-radius: $border-small;
        }

        .song-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: $font-small;
          padding: $base-space/2;
          cursor: default;
          color: $white;

          .artist {
            font-size: $font-xsmall;
            opacity: 80%;
            margin-top: 2px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  $content-width: 680px;

  .recommendation-warp {
    width: $content-width;

    .recommendation {
      flex-direction: column;
      height: 520px;

      .weather {
        width: 90%;

        .icon {
          width: 200px;
          top: -30px;
        }

        .info {
          top: 130px;
        }
      }

      .currentWeather-playlist {
        width: 90%;
      }
    }
  }
}

@media (max-width: 767px) {
  $content-width: 350px;

  .recommendation-warp {
    width: $content-width;

    .recommendation {
      flex-direction: column;
      height: 800px;

      .weather {
        width: 90%;

        .icon {
          width: 180px;
          top: -30px;
        }

        .info {
          top: 120px;
        }
      }

      .currentWeather-playlist {
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
      }
    }
  }
}
