@import "../../css/variables";

nav {
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-large;
  font-weight: $font-bold;
  padding: 30px 40px;
  color: $white;
  z-index: 3;
  transition: top 0.3s ease-in;

  .logoAndName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .logo {
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }
  }

  .searchAndLogin {
    display: flex;
    align-items: center;
    position: relative;

    .searchInput {
      border: 0;
      outline: none;
      padding: $base-space/2 $base-space;
      border-radius: $border-large;
      width: 30px;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      background-color: transparent;

      &.active {
        width: 250px;
        padding: $base-space/2 $base-space * 2;
        background-color: $white;
      }
    }

    [type="search"]::-webkit-search-cancel-button,
    [type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
      appearance: none;
    }

    .btn {
      border: 0;
      outline: none;
      background-color: transparent;
      color: $white;
      padding: 6px;
      border-radius: 50%;
      position: absolute;
      left: 2px;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &.search.active {
        color: $black;
      }

      &.close {
        opacity: 0;
        visibility: hidden;

        &.active {
          color: $black;
          left: 220px;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .login {
    padding: 0.5em 1.5em;
    border: 1px solid $white;
    border-radius: $border-large;
    font-size: $font-medium;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: $base-space;
    background-color: transparent;
    color: $white;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .mypage {
    margin-left: $base-space;
  }
}

@media (max-width: 767px) {
  nav {
    padding: 20px;
    font-size: $font-medium;

    .searchAndLogin {
      input.active {
        width: 110px;
      }

      .btn.close.active {
        left: 83px;
      }
    }

    .login {
      font-size: $font-small;
      margin-left: $base-space/2;
    }
  }
}
