@import "../../css/variables";

body {
  height: 100vh;

  .playlist-main {
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: $border-small;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    padding: $base-space * 2;
    margin-top: 150px;

    .description-wrap {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: flex-start;
      color: $white;
      margin-bottom: $base-space * 2;

      .cover {
        height: 150px;
        width: 150px;
        border-radius: $border-large;
        box-shadow: 10px 5px 16px 5px rgba(0, 0, 0, 0.4);
      }

      .info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: $base-space * 1.5 $base-space;

        .title {
          font-size: $font-xlarge;
          font-weight: $font-bold;
          margin-bottom: $base-space * 2;
        }

        .tags {
          font-size: $font-small;
        }

        .songs {
          font-size: $font-small;
        }
      }
    }
  }

  .content-wrap {
    width: 100%;

    .sort {
      width: 100%;
      display: grid;
      grid-template-columns: 4fr 1fr 1fr;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      color: $white;
      font-size: $font-small;
      padding: 4px 0 4px $base-space * 3;
    }

    .music {
      width: 100%;
      display: grid;
      grid-template-columns: 72px 4fr 1fr 1fr;
      align-items: center;
      color: $white;
      font-size: $font-small;
      padding: 4px $base-space;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      .cover {
        width: 65px;
        height: 65px;
        border-radius: $border-small;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .playlist-main {
      width: 740px;
    }
  }

  @media (max-width: 767px) {
    $font-xsmall: 12px;

    .playlist-main {
      width: 350px;
      padding: $base-space * 1.5 $base-space;

      .description-wrap {
        .info {
          width: 50%;
          .title {
            font-size: $font-large;
          }

          .tags {
            font-size: $font-xsmall;
          }

          .songs {
            font-size: $font-xsmall;
          }
        }
      }

      .content-wrap {
        .sort {
          font-size: $font-xsmall;
          padding: 4px 0 4px $base-space * 2;
          display: grid;
          grid-template-columns: 3fr 1fr 1fr;
        }

        .music {
          padding: 4px;
          display: grid;
          grid-template-columns: 60px 130px 1fr 1fr;
          column-gap: 5px;
          font-size: $font-xsmall;

          .cover {
            width: 60px;
            height: 60px;
          }

          .tags {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
