.weather-filter {
  .category {
    .title {
      padding: $base-space * 2;
      font-size: $font-large;
      font-weight: $font-bold;
    }
    .filter-wrap {
      width: 800px;
      height: 140px;
      margin: $base-space;

      .btn-wrap {
        display: flex;
        justify-content: center;
        align-items: center;

        .filter {
          cursor: pointer;
          outline: none;
          border: 1px solid gray;
          background-color: #fff;
          color: #333;
          font-weight: $font-bold;
          padding: 0.5em 1em;
          margin: 0.5em;
          border-radius: 1em;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1);
            color: #5196f0;
            border-color: #5196f0;
          }
        }
      }
    }
  }

  .playlists {
    width: 800px;

    .total-count {
      font-size: $font-large;
      font-weight: $font-bold;
      padding: $base-space;
    }

    .playlist-wrap {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: auto;
      gap: $base-space $base-space/2;
      margin-top: $base-space;
      margin-bottom: $base-space * 3;

      .platlist {
        background-color: #fff;
        border: 2px solid rgb(184, 184, 184);
        display: grid;
        grid-template-rows: 2fr 1fr;

        &:hover > .cover-wrap > .cover {
          transform: scale(1.1);
        }

        &:hover > .info {
          color: gray;
        }

        .cover-wrap {
          width: 100%;
          height: 227px;
          overflow: hidden;

          .cover {
            width: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
          }
        }

        .info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          padding: $base-space $base-space/2;
          transition: color 0.3s ease;

          .title {
            font-size: $font-medium;
          }

          .category {
            font-size: $font-small;

            .filter {
              margin-right: 4px;
            }
          }
          .songs {
            font-size: $font-xsmall;
          }

          .count {
            margin-left: 4px;
          }
        }
      }
    }
  }
}
