@import "../../css/variables";

.recommendation-warp {
  width: $content-width;
  margin-bottom: 100px;
  margin-top: 130px;
  @include color-var(color, font-color);

  .title {
    display: block;
    width: 100%;
    padding: 0 $base-space;
    font-size: $font-large;
    font-weight: $font-bold;
    cursor: default;
    margin-bottom: $base-space;
    backdrop-filter: blur(5px);
  }

  .recommendation {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-small;
    padding: $base-space * 1.5 $base-space;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);

    .loading {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      width: 70px;
      height: 60px;

      &.deactive {
        display: none;
      }

      .bouncer {
        width: 10px;
        height: 10px;
        background: linear-gradient(
          135deg,
          var(--bouncer1, map-get($colors, bouncer1)),
          var(--bouncer2, map-get($colors, bouncer2))
        );
        border-radius: 50%;
        animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite
          alternate;

        &:nth-child(2) {
          animation-delay: 0.1s;
          opacity: 0.9;
        }

        &:nth-child(3) {
          animation-delay: 0.2s;
          opacity: 0.8;
        }

        &:nth-child(4) {
          animation-delay: 0.3s;
          opacity: 0.7;
        }

        &:nth-child(5) {
          animation-delay: 0.4s;
          opacity: 0.6;
        }
      }

      @keyframes bouncer {
        from {
          transform: translateY(0);
        }
        to {
          transform: translateY(-60px);
        }
      }
    }

    .weather {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 29%;
      height: 100%;
      position: relative;

      &.active {
        display: flex;
      }

      .icon {
        width: 220px;
        position: absolute;
        top: -10px;
      }

      .info {
        text-align: center;
        position: absolute;
        top: 180px;
        cursor: default;

        .tempAndLoc {
          font-size: $font-small;
          margin-bottom: 4px;

          .temperature {
            margin-right: 4px;
          }

          .state {
            font-size: $font-medium;
          }
        }
      }
    }

    .currentWeather-playlist {
      width: 70%;
      height: 100%;
      display: none;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 1fr);

      &.active {
        display: grid;
      }

      .music {
        width: 100%;
        display: grid;
        grid-template-columns: 60px auto;
        align-items: center;
        position: relative;

        .album-cover {
          height: 50px;
          width: 50px;
          border-radius: $border-small;

          &:hover + .play {
            display: flex;
          }
        }

        .manipul {
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: $border-small;
          background-color: $black;
          display: none;
          justify-content: center;
          align-items: center;
          font-size: $font-medium;
          opacity: 0.9;
          border: 0;
          outline: none;
          color: $white;

          &.play:hover {
            display: flex;
          }

          &.play.active {
            display: flex;
          }

          &.pause.active {
            display: flex;
          }
        }

        .song-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: $font-small;
          padding: $base-space/2;
          cursor: default;
          @include color-var(color, font-color);

          .artist {
            font-size: $font-xsmall;
            opacity: 80%;
            margin-top: 2px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  $content-width: 680px;

  .recommendation-warp {
    width: $content-width;

    .recommendation {
      flex-direction: column;
      height: 520px;

      .weather {
        width: 90%;
        height: 380px;

        .icon {
          width: 200px;
          top: -30px;
        }

        .info {
          top: 130px;
        }
      }

      .currentWeather-playlist {
        width: 90%;
      }
    }
  }
}

@media (max-width: 767px) {
  $content-width: 350px;

  .recommendation-warp {
    width: $content-width;
    margin-top: 90px;

    .recommendation {
      flex-direction: column;
      justify-content: flex-start;
      height: 790px;

      .loading {
        margin-top: 100px;
      }

      .weather {
        width: 90%;
        height: 260px;

        .icon {
          width: 180px;
          top: -30px;
        }

        .info {
          top: 120px;
        }
      }

      .currentWeather-playlist {
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
      }
    }
  }
}
