@import "../../css/variables";

body {
  .playlist-main {
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: $border-small;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    padding: $base-space * 2;
    margin: 150px 0;

    .description-wrap {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: flex-start;
      color: $white;
      margin-bottom: $base-space * 2;

      .cover {
        height: 150px;
        width: 150px;
        border-radius: $border-large;
        box-shadow: 10px 5px 16px 5px rgba(0, 0, 0, 0.4);
      }

      .info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: $base-space * 1.5 $base-space;

        .title {
          font-size: $font-xlarge;
          font-weight: $font-bold;
          margin-bottom: $base-space * 2;
        }

        .tags {
          font-size: $font-small;
        }

        .songs {
          font-size: $font-small;
        }
      }
    }
  }

  .content-wrap {
    width: 100%;
    color: $white;

    .sort {
      width: 100%;
      display: grid;
      grid-template-columns: 4fr 3fr 3fr 40px;
      column-gap: 5px;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      font-size: $font-small;
      padding: 4px 0 4px $base-space;

      .name {
        padding-left: $base-space;
      }
    }

    .music {
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 4fr 3fr 3fr 40px;
      column-gap: 5px;
      align-items: center;
      justify-items: flex-start;
      font-size: $font-small;
      padding: 5px 0 5px $base-space;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      position: relative;

      .coverAndName {
        display: grid;
        grid-template-columns: 70px 1fr;
        align-items: center;

        .cover {
          width: 55px;
          height: 55px;
          border-radius: $border-small;
        }
      }

      .add {
        outline: none;
        border: 0;
        background-color: transparent;
        color: $white;
      }

      .addModal {
        width: 200px;
        position: absolute;
        z-index: 2;
        right: 42px;
        top: 36px;
        border-radius: $border-small;
        padding: $base-space/2 0;
        background-color: #817585;
        backdrop-filter: blur(5px);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);

        &.deactive {
          display: none;
        }

        .myPlaylist {
          width: 100%;
          padding: $base-space;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          font-weight: $font-bold;
          cursor: pointer;

          &:first-child {
            padding: $base-space/2 $base-space;
            opacity: 0.8;
            font-weight: 400;
            pointer-events: none;
          }

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .alertAdd {
      position: absolute;
      top: 90%;
      left: 30%;
      padding: $base-space $base-space * 2;
      background-color: rgb(14, 14, 34);
      animation: fadeIn 0.5s ease-in-out;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .playlist-main {
      width: 740px;
    }
  }

  @media (max-width: 767px) {
    .playlist-main {
      width: 350px;
      padding: $base-space * 1.5 $base-space;

      .description-wrap {
        .info {
          width: 50%;
          .title {
            font-size: $font-large;
          }

          .tags {
            font-size: $font-xsmall;
          }

          .songs {
            font-size: $font-xsmall;
          }
        }
      }

      .content-wrap {
        .sort {
          font-size: $font-xsmall;
          padding: 4px 0 4px $base-space/2;
          grid-template-columns: 4fr 3fr 3fr 30px;
        }

        .music {
          font-size: $font-xsmall;
          padding: 5px 0 5px $base-space/2;
          grid-template-columns: 4fr 3fr 3fr 30px;

          .addModal {
            width: 150px;
            font-size: $font-xsmall;
            right: 32px;
          }
        }
        .alertAdd {
          font-size: $font-xsmall;
          left: 15%;
        }
      }
    }
  }
}
