@import "../../css/variables";

nav {
  width: 100vw;
  min-width: 380px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-large;
  font-weight: $font-bold;
  padding: 20px 40px;
  @include color-var(color, font-color);
  z-index: 3;
  transition: top 0.3s ease-in;
  backdrop-filter: blur(5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  @include color-var(background-color, nav-bgc);

  &.scrollDown {
    top: -70px;
  }

  .logoAndName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .logo {
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }
  }

  .searchAndLogin {
    display: flex;
    align-items: center;
    position: relative;

    .searchInput {
      border: 0;
      outline: none;
      padding: $base-space/2 $base-space;
      border-radius: $border-large;
      width: 30px;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      background-color: transparent;

      &.active {
        width: 250px;
        padding: $base-space/2 $base-space * 2;
        background-color: $white;
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
          5px 5px 5px rgba(0, 0, 0, 0.1);
      }
    }

    [type="search"]::-webkit-search-cancel-button,
    [type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
      appearance: none;
    }

    .btn {
      border: 0;
      outline: none;
      background-color: transparent;
      @include color-var(color, font-color);
      padding: 6px;
      border-radius: 50%;
      position: absolute;
      left: 2px;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      cursor: pointer;

      &.search.active {
        color: $black;
      }

      &.close {
        opacity: 0;
        visibility: hidden;

        &.active {
          color: $black;
          left: 220px;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .userAndDarkMode {
      display: flex;
      align-items: center;

      #logout {
        display: none;
      }

      .login {
        padding: 0.5em 1.5em;
        @include color-var(border, border);
        border-radius: $border-large;
        font-size: $font-medium;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-left: $base-space;
        background-color: transparent;
        @include color-var(color, font-color);

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }

      .mypage {
        margin-left: $base-space;
        cursor: pointer;
      }

      .dark-mode {
        .mode-btn {
          border: 0;
          outline: none;
          background-color: transparent;
          padding: 6px 0 6px 6px;
          cursor: pointer;
          margin-left: $base-space/2;
          @include color-var(color, font-color);

          .modeText {
            display: none;
            font-size: $font-small;
            font-weight: $font-bold;
          }

          &.light {
            display: none;

            &.active {
              display: block;
            }
          }

          &.dark {
            &.deactive {
              display: none;
            }
          }
        }
      }
    }

    .ellipsis {
      @include color-var(color, font-color);
      border: 0;
      outline: none;
      background-color: transparent;
      padding: 6px 0 6px 6px;
      display: none;
      cursor: pointer;
      margin-left: $base-space/2;
    }
  }
}

@media (max-width: 767px) {
  nav {
    padding: 12px 20px;
    font-size: $font-medium;

    .searchAndLogin {
      .searchInput.active {
        width: 150px;
      }

      .btn.close.active {
        left: 122px;
      }

      .userAndDarkMode {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        right: -$base-space/2;
        top: 45px;
        width: 120px;
        z-index: 4;
        display: none;
        border-radius: $border-small;
        border: 1px solid rgba(255, 255, 255, 0.2);
        @include color-var(background-color, sm-nav-bgc);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);

        .login,
        .mypage {
          display: block;
          margin-left: 0;
          text-align: center;
          border: none;
          font-size: $font-small;
          padding: $base-space/2 $base-space;
          @include color-var(border-bottom, sm-nav-border);
          border-radius: 0;
          font-weight: $font-bold;

          &:hover {
            background-color: transparent;
          }
        }

        &.active {
          display: block;
        }

        .dark-mode {
          width: 100%;
          .mode-btn {
            padding: $base-space/2 $base-space;
            margin-left: 0;
            width: 100%;

            .modeText {
              display: inline;
            }
          }
        }
      }

      .ellipsis {
        display: block;
      }
    }
  }
}
