@import "../../css/variables";

.musicFilter-wrap {
  width: $content-width;
  margin-bottom: $content-bottom;

  .titleAndFilters {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 $base-space;
    margin-bottom: $base-space;

    .title {
      font-size: $font-large;
      font-weight: $font-bold;
      @include color-var(color, font-color);
    }

    .filter-btn {
      border: 0;
      background-color: transparent;
      outline: none;
      font-size: $font-medium;
      font-weight: 500;
      @include color-var(color, font-color);
      cursor: pointer;
    }

    .blank-bar {
      height: 100vh;
      width: 100vw;
      height: 100vh;
      position: fixed;
      z-index: 3;
      left: 0;
      top: 0;
      display: none;

      &.active {
        display: block;
      }
    }

    .filter-bar {
      position: fixed;
      right: -300px;
      top: 0;
      height: 100vh;
      width: 300px;
      z-index: 4;
      padding: 0 25px;
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      border-top-left-radius: $border-large;
      border-bottom-left-radius: $border-large;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(15px);

      &.active {
        right: 0;
        box-shadow: -15px 0px 18px 5px rgba(0, 0, 0, 0.4);
      }

      .filter-wrap {
        width: 100%;
        overflow-y: scroll;

        .btn-box {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: $base-space;

          .btn {
            outline: none;
            border: 0;
            background-color: transparent;
            @include color-var(color, font-color);
            padding: 0.5em;
            transition: opacity 0.3s ease;
            cursor: pointer;

            &.reset {
              font-size: $font-small;
              font-weight: 400;
            }
          }
        }

        .filters {
          @include color-var(color, font-color);
          width: 100%;
          display: flex;
          flex-direction: column;
          font-size: $font-small;
          margin-bottom: $base-space * 2;

          .category {
            margin-bottom: 4px;
            cursor: pointer;
            @include color-var(border-bottom, filter-bar-border);
            cursor: default;
            padding-bottom: 4px;
            margin-top: $base-space;
            font-weight: 600;
            padding-left: 4px;
            color: $black;
          }

          input {
            appearance: none;
          }

          .option {
            margin: 3px 0;
            padding-left: 4px;
            cursor: pointer;
            position: relative;

            &.active {
              color: $black;

              &::before {
                content: "";
                position: absolute;
                top: 1px;
                right: 30px;
                width: 16px;
                height: 16px;
                background-color: $black;
                transition: 0.3s;
              }

              &::after {
                content: "✓";
                position: absolute;
                right: 32px;
                color: $white;
                transition: 0.3s;
                top: -1px;
              }
            }
          }
        }
      }
    }
  }

  .playlist-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: $base-space;

    .playlist {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 225px;
      position: relative;
      overflow: hidden;
      @include color-var(color, font-color);

      &.invisible {
        display: none;
      }

      &:hover .info {
        bottom: 0;
      }

      &:hover .title {
        bottom: 60px;
      }

      .cover {
        width: 100%;
        height: 100%;
        border-radius: $border-large;
        object-fit: cover;
      }

      .title {
        width: 100%;
        padding: $base-space/2;
        margin-bottom: $base-space/2;
        position: absolute;
        bottom: 0;
        font-weight: $font-bold;
        font-size: $font-xlarge;
        transition: bottom 0.5s ease;
      }

      .info {
        width: 100%;
        height: 75px;
        backdrop-filter: blur(15px);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom-left-radius: $border-large;
        border-bottom-right-radius: $border-large;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: -80px;
        padding: $base-space;
        transition: bottom 0.5s ease;

        .tags {
          font-size: $font-small;
          display: flex;
          flex-direction: column;
        }
        .songs {
          font-size: $font-xsmall;

          .count {
            margin-left: 4px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  $content-width: 680px;

  .musicFilter-wrap {
    width: $content-width;

    .playlist-wrap {
      grid-template-columns: repeat(3, 1fr);

      .playlist {
        height: 215px;
      }
    }
  }
}

@media (max-width: 767px) {
  $content-width: 350px;

  .musicFilter-wrap {
    width: $content-width;

    .playlist-wrap {
      grid-template-columns: repeat(2, 1fr);

      .playlist {
        height: 165px;

        .title {
          font-size: $font-large;
        }

        .info {
          height: 70px;
        }
      }
    }
  }
}
