<html>
	<head>
	</head>
	<body>
		{% if user.is_authenticated %}
			<p>{{ user.username }}님</p>			
			<a href="{% url 'update_password' %}">비밀번호변경</a>
			<form action="{% url 'logout' %}" method="POST">
				{% csrf_token %}
				<input type="submit" value="로그아웃">
			</form>
			<form action="{% url 'delete' %}" method="POST">
				{% csrf_token %}
				<input type="submit" value="회원탈퇴">
			</form>
			
		{% else %}
			<a href="{% url 'signup' %}">회원가입</a>
			<a href="{% url 'login' %}">로그인</a>
		{% endif %}
	</body>
</html>