<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
<link rel="stylesheet" href="components/signup/signup.css">
</head>
<body>
    <form action="{% url 'signup'%}" method="post" class="loginForm">
		{% csrf_token %}
        <h2>회원가입</h2>
        <div class="idForm">
          <input type="text" class="id" placeholder="아이디" />
        </div>
        <div class="passForm">
          <input type="password" class="pw" placeholder="비밀번호" />
        </div>
        <div class="passForm_chck">
          <input type="password" class="pw_chck" placeholder="비밀번호 확인" />
        </div>
        <button type="submit" class="btn" onClick={this.signup_btn}>
          SIGN UP
        </button>
      </form></div>
</body>

</html>