:root[color-theme="light"] {
  --background: #edecdd;
  --font-color: #111;
  --border: 1px solid #111;
  --bouncer1: #ffc931;
  --bouncer2: #d74639;
  --nav-bgc: rgba(239, 222, 205, 0.2);
  --sm-nav-bgc: rgba(239, 222, 205, 0.9);
  --sm-nav-border: 1px solid rgba(2, 2, 2, 0.2);
  --filter-bar-border: 1px solid rgba(25, 25, 25, 0.5);
  --login-btn: linear-gradient(125deg, #f5d270, #d77253, #f5d270);
  --login-border: 2px solid #707070;
  --count-color: #454545;
  --secession-btn: #e1dec8;
  --addPlaylist-modal: url("../../img/lightBg.png");
  --addPlaylist-btn: rgba(254, 254, 254, 0.7);
  --playlists-cover: url("../img/playlistCovers/lp3.png");
  --playlist-cover: url("../../img/playlistCovers/lp3.png");
  --addModal-color: rgb(228, 223, 207);
  --add-newPlaylist: #413428;
}

:root[color-theme="dark"] {
  --background: linear-gradient(to left, #242359, #0e0e1f);
  --font-color: #eee;
  --border: 1px solid #eee;
  --bouncer1: #d557e1;
  --bouncer2: #01adf7;
  --nav-bgc: rgba(92, 66, 75, 0.2);
  --sm-nav-bgc: rgba(92, 66, 75, 0.9);
  --sm-nav-border: 1px solid rgba(255, 255, 255, 0.2);
  --filter-bar-border: 1px solid rgba(238, 238, 238, 0.5);
  --login-btn: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
  --login-border: 2px solid #adadad;
  --count-color: #aaaaaa;
  --secession-btn: #242359;
  --addPlaylist-modal: url("../../img/darkBg.png");
  --addPlaylist-btn: rgba(187, 187, 187, 0.4);
  --playlists-cover: url("../img/playlistCovers/lp10.png");
  --playlist-cover: url("../../img/playlistCovers/lp10.png");
  --addModal-color: rgb(14, 14, 34);
  --add-newPlaylist: #28243a;
}

body .playlist-main {
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  padding: 32px;
  margin: 150px 0;
}

body .playlist-main .description-wrap {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #111;
  color: var(--font-color, #111);
  margin-bottom: 32px;
}

body .playlist-main .description-wrap .cover {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -webkit-box-shadow: 10px 5px 16px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 5px 16px 5px rgba(0, 0, 0, 0.4);
  background-image: var(--playlist-cover, );
  background-size: cover;
}

body .playlist-main .description-wrap .info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
}

body .playlist-main .description-wrap .info .title {
  font-size: 20px;
  font-weight: 600;
}

body .playlist-main .description-wrap .info .tagAndSong .tags {
  font-size: 14px;
  margin-bottom: 4px;
}

body .playlist-main .description-wrap .info .tagAndSong .songs {
  font-size: 14px;
}

body .content-wrap {
  width: 100%;
  color: #111;
  color: var(--font-color, #111);
}

body .content-wrap .sort {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13fr 8fr 8fr 40px;
      grid-template-columns: 13fr 8fr 8fr 40px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  border-top: 1px solid rgba(2, 2, 2, 0.2);
  border-top: var(--sm-nav-border, 1px solid rgba(2, 2, 2, 0.2));
  border-bottom: 1px solid rgba(2, 2, 2, 0.2);
  border-bottom: var(--sm-nav-border, 1px solid rgba(2, 2, 2, 0.2));
  font-size: 14px;
  padding: 4px 0 4px 16px;
}

body .content-wrap .sort .name {
  padding-left: 16px;
}

body .content-wrap .music {
  width: 100%;
  font-size: 14px;
  padding: 5px 8px;
  border-bottom: 1px solid rgba(2, 2, 2, 0.2);
  border-bottom: var(--sm-nav-border, 1px solid rgba(2, 2, 2, 0.2));
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-wrap .music .content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 72px 4fr;
      grid-template-columns: 72px 4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
}

body .content-wrap .music .content .manipul {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 8px;
  background-color: #111;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  opacity: 0.9;
  border: 0;
  outline: none;
  color: #eee;
}

body .content-wrap .music .content .manipul.play:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .content-wrap .music .content .manipul.play.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .content-wrap .music .content .manipul.pause.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .content-wrap .music .content .cover {
  width: 55px;
  height: 55px;
  border-radius: 8px;
}

body .content-wrap .music .content .cover:hover ~ .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .content-wrap .music .content .info {
  width: 100%;
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

body .content-wrap .music .content .info .descrip {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 4px;
}

body .content-wrap .music .content .info .descrip .dot {
  display: none;
}

body .content-wrap .music .add {
  outline: none;
  border: 0;
  background-color: transparent;
  color: #111;
  color: var(--font-color, #111);
  margin-right: 8px;
}

body .content-wrap .music .addModal {
  width: 200px;
  position: absolute;
  z-index: 2;
  right: 42px;
  top: 36px;
  border-radius: 8px;
  padding: 8px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(239, 222, 205, 0.9);
  background-color: var(--sm-nav-bgc, rgba(239, 222, 205, 0.9));
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

body .content-wrap .music .addModal.deactive {
  display: none;
}

body .content-wrap .music .addModal .myPlaylist {
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid rgba(2, 2, 2, 0.2);
  border-bottom: var(--sm-nav-border, 1px solid rgba(2, 2, 2, 0.2));
  font-weight: 600;
  cursor: pointer;
}

body .content-wrap .music .addModal .myPlaylist:first-child {
  padding: 8px 16px;
  opacity: 0.8;
  font-weight: 400;
  pointer-events: none;
}

body .content-wrap .music .addModal .myPlaylist:last-child {
  border-bottom: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body .content-wrap .alertAdd {
  position: absolute;
  top: 90%;
  left: 30%;
  padding: 16px 32px;
  background-color: #0e0e22;
  -webkit-animation: fadeIn 0.5s ease-in-out;
          animation: fadeIn 0.5s ease-in-out;
}

@media (min-width: 768px) and (max-width: 1023px) {
  body .playlist-main {
    width: 740px;
  }
  body .playlist-main .content-wrap .sort {
    -ms-grid-columns: 7fr 4fr 4fr 40px;
        grid-template-columns: 7fr 4fr 4fr 40px;
  }
}

@media (max-width: 767px) {
  body .playlist-main {
    width: 350px;
    padding: 24px 16px;
    margin: 80px 0;
  }
  body .playlist-main .description-wrap .info {
    width: 50%;
  }
  body .playlist-main .description-wrap .info .title {
    font-size: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  body .playlist-main .description-wrap .info .tags {
    font-size: 12px;
  }
  body .playlist-main .description-wrap .info .songs {
    font-size: 12px;
  }
  body .playlist-main .content-wrap .sort {
    font-size: 12px;
    padding: 3px 0 3px 16px;
    -ms-grid-columns: 1fr 30px;
        grid-template-columns: 1fr 30px;
  }
  body .playlist-main .content-wrap .sort .artist {
    display: none;
  }
  body .playlist-main .content-wrap .sort .album {
    display: none;
  }
  body .playlist-main .content-wrap .music {
    font-size: 12px;
  }
  body .playlist-main .content-wrap .music .content .info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  body .playlist-main .content-wrap .music .content .info .descrip {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  body .playlist-main .content-wrap .music .content .info .descrip .dot {
    display: inline;
    margin: 0 3px;
  }
  body .playlist-main .content-wrap .music .add {
    margin-right: 3px;
  }
  body .playlist-main .content-wrap .addModal {
    width: 150px;
    font-size: 12px;
    right: 32px;
    padding: 4px 0;
  }
  body .playlist-main .content-wrap .addModal .myPlaylist {
    padding: 10.66667px 16px;
  }
  body .playlist-main .alertAdd {
    font-size: 12px;
    left: 15%;
  }
}
/*# sourceMappingURL=playlist.css.map */