@import "../../css/variables";

.search-wrap {
  margin: 150px 0;
  width: 1000px;
  @include color-var(color, font-color);
  position: relative;

  .value {
    font-size: $font-large;
    margin-bottom: $base-space;
    padding: 0 $base-space;
  }

  .noResult {
    font-size: $font-xlarge;
    width: 100%;
    height: 50vh;
    border-radius: $border-large;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    display: none;
    justify-content: center;
    align-items: center;

    &.active {
      display: flex;
    }

    .fa-exclamation-triangle {
      margin-right: 10px;
    }
  }

  .sort {
    width: 100%;
    display: grid;
    grid-template-columns: 13fr 8fr 8fr 40px;
    column-gap: 5px;
    @include color-var(border-top, sm-nav-border);
    @include color-var(border-bottom, sm-nav-border);
    font-size: $font-small;
    padding: 4px 0 4px $base-space;

    .name {
      padding-left: $base-space;
    }

    &.deactive {
      display: none;
    }
  }

  .musicList {
    &.deactive {
      display: none;
    }

    .music {
      width: 100%;
      font-size: $font-small;
      padding: 5px $base-space/2;
      @include color-var(border-bottom, sm-nav-border);
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .content {
        width: 100%;
        display: grid;
        grid-template-columns: 72px 4fr;
        align-items: center;
        margin-right: 8px;
        position: relative;

        .manipul {
          position: absolute;
          width: 55px;
          height: 55px;
          border-radius: $border-small;
          background-color: $black;
          display: none;
          justify-content: center;
          align-items: center;
          font-size: $font-medium;
          opacity: 0.9;
          border: 0;
          outline: none;
          color: $white;

          &.play:hover {
            display: flex;
          }

          &.pause.active {
            display: flex;
          }
        }

        .cover {
          width: 55px;
          height: 55px;
          border-radius: $border-small;

          &:hover ~ .play {
            display: flex;
          }
        }

        .info {
          width: 100%;
          height: 80%;
          display: grid;
          grid-template-columns: 2fr 3fr;
          align-items: center;
          gap: 5px;

          .descrip {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4px;

            .dot {
              display: none;
            }
          }
        }
      }

      .add {
        outline: none;
        border: 0;
        background-color: transparent;
        @include color-var(color, font-color);
        margin-right: $base-space/2;
      }

      .addModal {
        width: 200px;
        position: absolute;
        z-index: 2;
        right: 42px;
        top: 36px;
        border-radius: $border-small;
        padding: $base-space/2 0;
        background-color: #817585;
        backdrop-filter: blur(5px);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);

        &.deactive {
          display: none;
        }

        .myPlaylist {
          width: 100%;
          padding: $base-space;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          font-weight: $font-bold;
          cursor: pointer;

          &:first-child {
            padding: $base-space/2 $base-space;
            opacity: 0.8;
            font-weight: 400;
            pointer-events: none;
          }

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .alertAdd {
    position: absolute;
    top: 105%;
    left: 30%;
    padding: $base-space $base-space * 2;
    background-color: rgb(14, 14, 34);
    animation: fadeIn 0.5s ease-in-out;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .search-wrap {
    width: 680px;

    .noResult {
      width: 680px;
    }
  }
}

@media (max-width: 767px) {
  .search-wrap {
    width: 350px;
    margin-top: 90px;

    .noResult {
      width: 350px;
      font-size: $font-large;
    }

    .sort {
      font-size: $font-xsmall;
      padding: 3px 0 3px $base-space;
      grid-template-columns: 1fr 30px;

      .artist {
        display: none;
      }

      .album {
        display: none;
      }
    }

    .musicList {
      .music {
        font-size: $font-xsmall;

        .content {
          .info {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;

            .descrip {
              display: flex;
              justify-content: flex-start;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              overflow: hidden;

              .dot {
                display: inline;
                margin: 0 3px;
              }
            }
          }
        }

        .add {
          margin-right: 3px;
        }
      }
    }

    .alertAdd {
      font-size: $font-xsmall;
      left: 15%;
    }
  }
}
