html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #fff;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  height: 100%;

  .myplaylist {
    margin-top: 50px;
    overflow: wrap;
    width: calc(100% - 240px);
    margin-left: 100px;

    .myplaylist__list {
      display: flex;
      flex-direction: row;

      .list-group-play {
        margin: 20px;
        .myplaylist__add{
          display: flex;
          width: 200px;
          height: 200px;
          border-radius: 10px;
          background: #28243a;
          align-items: center;
          justify-content: center;
          div{
            width: fit-content;
            height: fit-content;
            vertical-align:middle;
            font-size: 50px;           
            color: #fff;
          }
        }
        .myplaylist__thumnail {
          width: 200px;
          height: 200px;
          border-radius: 10px;
        }

        .myplaylist__count {
          color: #aaaaaa;
        }
        .myplaylist__shareBtn:hover{
          cursor: pointer;
        }
      }
    }
  }
}