@import "../../css/variables";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: $border-small;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  padding: $base-space * 2;
  margin: 100px auto;
  @include color-var(color, font-color);

  .playlist-info {
    width: 90%;
    display: flex;
    margin: 20px auto;

    .thumnail {
      width: 200px;
      height: 200px;

      img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
      }
    }

    .info {
      width: 500px;
      margin: 10px 30px;

      .playlist-title {
        margin-top: 80px;
        font-size: 25px;
        font-weight: 700;
      }

      .playlist-tags {
        margin-top: 20px;
        font-size: 18px;
      }

      .playlist-count {
        margin-top: 10px;
        display: flex;
        align-items: center;
        position: relative;

        span {
          font-size: 16px;
          margin-right: 5px;
        }
        .unlike{
          display: none;
        }
        .unlike.active{
          display: block;
          position: absolute;
          font-size: 26px;
          left: 95px;
          &:hover{
            cursor: pointer;
          }
        }
        .like{
          display: none;
        }
        .like.active{
          display: block;
          position: absolute;
          font-size: 26px;
          left: 95px;
          color: rebeccapurple;
        }
      }
    }
  }

  .content-wrap {
    width: 100%;
    @include color-var(color, font-color);

    .sort {
      width: 90%;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 3fr 3fr 3fr 40px;
      column-gap: 5px;
      @include color-var(border-top, sm-nav-border);
      @include color-var(border-bottom, sm-nav-border);
      font-size: $font-small;
      padding: 4px 0 4px $base-space;
      margin: 0px auto;
    }

    .items {
      .item {
        width: 90%;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 3fr 3fr 3fr 40px;
        column-gap: 5px;
        @include color-var(border-top, sm-nav-border);
        @include color-var(border-bottom, sm-nav-border);
        font-size: $font-small;
        padding: 4px 0 4px $base-space;
        margin: 0px auto;

        .cover {
          img {
            width: 40px;
            height: 40px;
            border-radius: 5px;
          }
        }
        .remove:hover {
          cursor: pointer;
        }
      }
    }
  }
}
