html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #fff;
}

li {
  list-style: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  width: 100%;
  height: 100%;

  .myplaylist {
    margin: 0px 70px;
    width: 90%;
    margin-top: 50px;

    .myplaylist__list {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .list-group-play {
        max-width: 100%;
        margin: 20px;

        &:hover {
          cursor: pointer;
        }

        div {
          width: fit-content;
          height: fit-content;
          vertical-align: middle;
          font-size: 50px;
          color: #fff;
        }

        .myplaylist__thumnail {
          width: 200px;
          height: 200px;
          border-radius: 10px;
        }
        .myplaylist__title {
          font-size: 15px;
        }

        .myplaylist__count {
          color: #aaaaaa;
        }

        .myplaylist__shareBtn {
          float: rifght;
          margin-left: 100px;
        }

        .myplaylist__shareBtn:hover {
          cursor: pointer;
        }
      }

      .list-group-add {
        max-width: 100%;
        margin: 20px;

        &:hover {
          cursor: pointer;
        }

        .myplaylist__add {
          display: flex;
          width: 200px;
          height: 200px;
          border-radius: 10px;
          background: #28243a;
          align-items: center;
          justify-content: center;

          div {
            width: fit-content;
            height: fit-content;
            vertical-align: middle;
            font-size: 50px;
            color: #fff;
          }
        }

        .myplaylist__add:hover {
          cursor: pointer;
        }
      }
    }
  }

  .newplaylist {
    display: none;
  }

  @keyframes fadeIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: none;
      opacity: 1;
    }
  }

  .newplaylist.active {
    animation: fadeIn 0.2s linear;
    position: absolute;
    display: block;
    z-index: 2;
    width: 640px;
    height: 400px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    padding: 24px 16px;
    background: #200122;
    opacity: 0.95;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #200122, #14023f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #200122, #14023f);
    border-radius: 10px;

    .newplaylist__container {
      width: 100%;
      height: 100%;

      h2 {
        width: fit-content;
        margin: 30px auto 0px auto;
      }

      div:nth-child(2),
      div:nth-child(3) {
        border-bottom: 2px solid #adadad;
        margin: 50px;
        padding: 10px 10px;

        > input {
          width: 100%;
          border: none;
          outline: none;
          color: #fff;
          font-size: 16px;
          height: 25px;
          background: none;
        }
      }

      div:nth-child(4) {
        position: absolute;
        right: 40px;

        .closeBtn {
          padding: 0.5em 1.5em;
          border: 1px solid #eee;
          border-radius: 18px;
          font-size: 16px;
          background: none;
          font-weight: 700;
          cursor: pointer;
          color: #fff;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          margin-right: 5px;

          &:hover {
            background: rgba(187, 187, 187, 0.4);
          }
        }

        .saveBtn {
          padding: 0.5em 1.5em;
          border: 1px solid #eee;
          border-radius: 18px;
          font-size: 16px;
          background: none;
          cursor: pointer;
          font-weight: 700;
          color: #fff;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;

          &:hover {
            background: rgba(187, 187, 187, 0.4);
          }
        }

        .btn__group {
          position: absolute;
          right: 0;
          margin-right: 30px;

          .saveBtn {
            color: #fff;
            background: none;
            margin-right: 5px;
          }

          .closeBtn {
            background: linear-gradient(125deg, #f0eaea, #aaa9a9, #e0dede);
          }
        }
      }
    }
  }
}

.cover.active {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(75, 73, 73, 0.5);
  backdrop-filter: blur(1px);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    .myplaylist {
      width: 90%;
      margin: auto auto;

      .myplaylist__list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    .newplaylist.active {
      width: 450px;
      height: 400px;

      .newplaylist__container {
        width: 100%;
        height: 100%;
      }
    }
  }
}
