html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #fff;
}

li {
  list-style: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  width: 100%;
  height: 100%;
}

.container .myplaylist {
  margin: 0px 70px;
  width: 90%;
  margin-top: 50px;
}

.container .myplaylist .myplaylist__list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .myplaylist .myplaylist__list .list-group-play {
  max-width: 100%;
  margin: 20px;
}

.container .myplaylist .myplaylist__list .list-group-play:hover {
  cursor: pointer;
}

.container .myplaylist .myplaylist__list .list-group-play div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  vertical-align: middle;
  font-size: 50px;
  color: #fff;
}

.container .myplaylist .myplaylist__list .list-group-play .myplaylist__thumnail {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.container .myplaylist .myplaylist__list .list-group-play .myplaylist__title {
  font-size: 15px;
}

.container .myplaylist .myplaylist__list .list-group-play .myplaylist__count {
  color: #aaaaaa;
}

.container .myplaylist .myplaylist__list .list-group-play .myplaylist__shareBtn {
  float: rifght;
  margin-left: 100px;
}

.container .myplaylist .myplaylist__list .list-group-play .myplaylist__shareBtn:hover {
  cursor: pointer;
}

.container .myplaylist .myplaylist__list .list-group-add {
  max-width: 100%;
  margin: 20px;
}

.container .myplaylist .myplaylist__list .list-group-add:hover {
  cursor: pointer;
}

.container .myplaylist .myplaylist__list .list-group-add .myplaylist__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background: #28243a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .myplaylist .myplaylist__list .list-group-add .myplaylist__add div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  vertical-align: middle;
  font-size: 50px;
  color: #fff;
}

.container .myplaylist .myplaylist__list .list-group-add .myplaylist__add:hover {
  cursor: pointer;
}

.container .newplaylist {
  display: none;
}

@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.container .newplaylist.active {
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
  position: absolute;
  display: block;
  z-index: 2;
  width: 640px;
  height: 400px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  padding: 24px 16px;
  background: #200122;
  opacity: 0.95;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#200122), to(#14023f));
  background: linear-gradient(to right, #200122, #14023f);
  border-radius: 10px;
}

.container .newplaylist.active .newplaylist__container {
  width: 100%;
  height: 100%;
}

.container .newplaylist.active .newplaylist__container h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto 0px auto;
}

.container .newplaylist.active .newplaylist__container div:nth-child(2),
.container .newplaylist.active .newplaylist__container div:nth-child(3) {
  border-bottom: 2px solid #adadad;
  margin: 50px;
  padding: 10px 10px;
}

.container .newplaylist.active .newplaylist__container div:nth-child(2) > input,
.container .newplaylist.active .newplaylist__container div:nth-child(3) > input {
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  height: 25px;
  background: none;
}

.container .newplaylist.active .newplaylist__container div:nth-child(4) {
  position: absolute;
  right: 40px;
}

.container .newplaylist.active .newplaylist__container div:nth-child(4) .closeBtn {
  padding: 0.5em 1.5em;
  border: 1px solid #eee;
  border-radius: 18px;
  font-size: 16px;
  background: none;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: 5px;
}

.container .newplaylist.active .newplaylist__container div:nth-child(4) .closeBtn:hover {
  background: rgba(187, 187, 187, 0.4);
}

.container .newplaylist.active .newplaylist__container div:nth-child(4) .saveBtn {
  padding: 0.5em 1.5em;
  border: 1px solid #eee;
  border-radius: 18px;
  font-size: 16px;
  background: none;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container .newplaylist.active .newplaylist__container div:nth-child(4) .saveBtn:hover {
  background: rgba(187, 187, 187, 0.4);
}

.container .newplaylist.active .newplaylist__container div:nth-child(4) .btn__group {
  position: absolute;
  right: 0;
  margin-right: 30px;
}

.container .newplaylist.active .newplaylist__container div:nth-child(4) .btn__group .saveBtn {
  color: #fff;
  background: none;
  margin-right: 5px;
}

.container .newplaylist.active .newplaylist__container div:nth-child(4) .btn__group .closeBtn {
  background: linear-gradient(125deg, #f0eaea, #aaa9a9, #e0dede);
}

.cover.active {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(75, 73, 73, 0.5);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .myplaylist {
    width: 90%;
    margin: auto auto;
  }
  .container .myplaylist .myplaylist__list {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .newplaylist.active {
    width: 450px;
    height: 400px;
  }
  .container .newplaylist.active .newplaylist__container {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=myplaylist.css.map */