:root[color-theme="light"] {
  --background: #edecdd;
  --font-color: #111;
  --border: 1px solid #111;
  --bouncer1: #ffc931;
  --bouncer2: #d74639;
  --nav-bgc: rgba(239, 222, 205, 0.2);
  --sm-nav-bgc: rgba(239, 222, 205, 0.9);
  --sm-nav-border: 1px solid rgba(2, 2, 2, 0.2);
  --filter-bar-border: 1px solid rgba(25, 25, 25, 0.5);
  --login-btn: linear-gradient(125deg, #f5d270, #d77253, #f5d270);
  --login-border: 2px solid #707070;
  --count-color: #454545;
  --secession-btn: #e1dec8;
}

:root[color-theme="dark"] {
  --background: linear-gradient(to left, #242359, #0e0e1f);
  --font-color: #eee;
  --border: 1px solid #eee;
  --bouncer1: #d557e1;
  --bouncer2: #01adf7;
  --nav-bgc: rgba(92, 66, 75, 0.2);
  --sm-nav-bgc: rgba(92, 66, 75, 0.9);
  --sm-nav-border: 1px solid rgba(255, 255, 255, 0.2);
  --filter-bar-border: 1px solid rgba(238, 238, 238, 0.5);
  --login-btn: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
  --login-border: 2px solid #adadad;
  --count-color: #aaaaaa;
  --secession-btn: #242359;
}

.container {
  width: 100%;
  height: 100%;
  color: #111;
  color: var(--font-color, #111);
}

.container .secession_container {
  margin: 0px 70px;
  width: 90%;
}

.container .secession_container h2 {
  margin: 50px 0px;
}

.container .secession_container p {
  margin: 10px 0px 5px 0px;
  font-size: 14px;
  color: #454545;
  color: var(--count-color, #454545);
  line-height: 1.5;
}

.container .secession_container .material-icons-outlined {
  color: green;
}

.container .secession_container span {
  margin-top: 15px;
  font-size: 15px;
  line-height: 1.7;
}

.container .secession_container .check_guide {
  margin-top: 100px;
}

.container .secession_container .check_guide .checkBtn {
  display: none;
}

.container .secession_container .check_guide .checkBtn.active {
  display: inline;
  color: #111;
  color: var(--font-color, #111);
  font-size: 20px;
  vertical-align: middle;
}

.container .secession_container .check_guide .checkBtn.active:hover {
  cursor: pointer;
}

.container .secession_container .check_guide .circleBtn {
  display: none;
}

.container .secession_container .check_guide .circleBtn.active {
  display: inline;
  color: #111;
  color: var(--font-color, #111);
  font-size: 20px;
  vertical-align: middle;
}

.container .secession_container .check_guide .circleBtn.active:hover {
  cursor: pointer;
}

.container .secession_container .check_guide span:nth-child(3) {
  color: #111;
  color: var(--font-color, #111);
  font-size: 16px;
  vertical-align: middle;
}

.container .secession_container button {
  padding: 0.5em 1.5em;
  border: 2px solid var(--font-color, #111);
  border-radius: 18px;
  font-size: 16px;
  background: none;
  color: #111;
  color: var(--font-color, #111);
  font-weight: 700;
  cursor: pointer;
  margin: 80px 0% 0px 80%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.container .secession_container button:hover {
  background-color: #111;
  background-color: var(--font-color, #111);
  color: #e1dec8;
  color: var(--secession-btn, #e1dec8);
}

@media screen and (max-width: 768px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .secession_container {
    margin-top: -20px;
  }
  .container .secession_container h2 {
    margin: 10px 0;
  }
  .container .secession_container button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.5em 1.5em;
    margin: 20px auto;
  }
}
/*# sourceMappingURL=secession.css.map */