.container {
  width: 100%;
}

.container .share-main {
  margin: 0px 70px;
  width: 90%;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  padding: 32px;
  margin: 50px 30px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 0.5em 0.5em;
  margin-right: 10px;
}

.container .share-main .description-wrap {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #eee;
  margin-bottom: 32px;
}

.container .share-main .description-wrap .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  font-weight: 700;
}

.container .share-main .description-wrap .info span {
  font-size: 20px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 0.5em 0.5em;
  margin-right: 10px;
}

.container .share-main .description-wrap .info span:hover {
  cursor: pointer;
}

.container .share-main .description-wrap .info .title.active {
  font-size: 20px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 18px;
  padding: 0.5em 0.5em;
  background: #eee;
  color: #160d35;
}

.container .share-main .description-wrap .info .find.active {
  font-size: 20px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 18px;
  padding: 0.5em 0.5em;
  background: #eee;
  color: #160d35;
}

.container .share-main:hover {
  cursor: pointer;
}

.container .title.active {
  font-size: 20px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 18px;
  padding: 0.5em 0.5em;
  background: #eee;
  color: #160d35;
}

.container .find.active {
  font-size: 20px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 18px;
  padding: 0.5em 0.5em;
  background: #eee;
  color: #160d35;
}

.title-wrap {
  display: none;
}

.title-wrap.active {
  display: block;
  width: 100%;
  height: 550px;
  color: #eee;
  overflow-y: scroll;
  color: #eee;
}

.title-wrap.active .sort {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 1fr 40px;
      grid-template-columns: 3fr 3fr 1fr 40px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
  padding: 4px 0 4px 16px;
}

.title-wrap.active .friends {
  width: 100%;
}

.title-wrap.active .friends .friend {
  line-height: 3;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 1fr 40px;
      grid-template-columns: 3fr 3fr 1fr 40px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-start;
  font-size: 14px;
  padding: 5px 0 5px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.title-wrap.active .friends .friend .id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-wrap.active .friends .friend .id span {
  margin-right: 3px;
}

.find-wrap {
  display: none;
}

.find-wrap.active {
  display: block;
  width: 100%;
  height: 550px;
  color: #eee;
  overflow-y: scroll;
  line-height: 3;
  width: 100%;
  overflow-y: scroll;
  height: 500px;
}

.find-wrap.active::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.find-wrap.active::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 10px;
}

.find-wrap.active::-webkit-scrollbar-track {
  background-color: #2f3542;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 5px white;
          box-shadow: inset 0px 0px 5px white;
}

.find-wrap.active .friend {
  line-height: 3;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 1fr 40px;
      grid-template-columns: 3fr 3fr 1fr 40px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-start;
  font-size: 14px;
  padding: 5px 0 5px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.find-wrap.active .friend .id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find-wrap.active .friend .shareBtn:hover {
  cursor: pointer;
}

.find-wrap {
  display: none;
}

.find-wrap.active {
  display: block;
  width: 100%;
  height: 550px;
  color: #eee;
}

.find-wrap.active .findInput {
  position: absolute;
  right: 30px;
  top: 50px;
}

.find-wrap.active .findInput .searchInput {
  position: absolute;
  right: 30px;
  top: 50px;
  border: 0;
  outline: none;
  padding: 8px 16px;
  border-radius: 18px;
  background-color: transparent;
  width: 250px;
  padding: 8px 32px;
  background-color: #eee;
}

.find-wrap.active .findInput [type="search"]::-webkit-search-cancel-button,
.find-wrap.active .findInput [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.find-wrap.active .findInput .sort {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 1fr 40px;
      grid-template-columns: 3fr 3fr 1fr 40px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
  padding: 4px 0 4px 16px;
}

.find-wrap.active .findInput .friends {
  width: 100%;
}

.find-wrap.active .findInput .friends .allUser .user-list {
  line-height: 3;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 1fr 40px;
      grid-template-columns: 3fr 3fr 1fr 40px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-start;
  font-size: 14px;
  padding: 5px 0 5px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.find-wrap.active .findInput .friends .allUser .id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  padding: 8px 32px;
  background-color: #eee;
}

.find-wrap.active .findInput .friends .allUser .id span {
  margin-right: 3px;
}

.find-wrap.active .findInput .friends .allUser [type="search"]::-webkit-search-cancel-button,
.find-wrap.active .findInput .friends .allUser [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.find-wrap.active .findInput .friends .allUser .sort {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 1.3fr 40px;
      grid-template-columns: 3fr 3fr 1.3fr 40px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
  padding: 4px 0 4px 16px;
}

.find-wrap.active .findInput .friends .allUser .allUsers {
  width: 100%;
}

.find-wrap.active .findInput .friends .allUser .allUsers .allUser {
  overflow-y: scroll;
  height: 500px;
}

.find-wrap.active .findInput .friends .allUser .allUsers .allUser::-webkit-scrollbar {
  width: 10px;
}

.find-wrap.active .findInput .friends .allUser .allUsers .allUser::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 10px;
}

.find-wrap.active .findInput .friends .allUser .allUsers .allUser::-webkit-scrollbar-track {
  background-color: #2f3542;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 5px white;
          box-shadow: inset 0px 0px 5px white;
}

.find-wrap.active .findInput .friends .allUser .allUsers .allUser .user-list {
  line-height: 3;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 1fr 40px;
      grid-template-columns: 3fr 3fr 1fr 40px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: flex-start;
  font-size: 14px;
  padding: 5px 0 5px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.find-wrap.active .findInput .friends .allUser .allUsers .allUser .id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find-wrap.active .findInput .friends .allUser .allUsers .allUser .id span {
  margin-right: 3px;
}

.find-wrap.active .findInput .friends .allUser .allUsers .allUser .id .addBtn:hover {
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .find-wrap.active .share-main {
    width: 740px;
  }
  .find-wrap.active .share-main .find-wrap .searchInput {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .find-wrap.active .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .find-wrap.active .container .share-main {
    width: 90%;
    margin-top: 10px;
  }
  .find-wrap.active .container .share-main .description-wrap {
    height: 30px;
  }
  .find-wrap.active .container .share-main .description-wrap .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 10px;
    font-weight: 700;
  }
  .find-wrap.active .container .share-main .description-wrap .info span {
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    border-radius: 18px;
    padding: 0.5em 0.5em;
    margin-right: 10px;
  }
  .find-wrap.active .container .share-main .description-wrap .info span:hover {
    cursor: pointer;
  }
  .find-wrap.active .container .share-main .description-wrap .info .title.active {
    font-size: 16px;
  }
  .find-wrap.active .container .share-main .description-wrap .info .find.active {
    font-size: 16px;
  }
  .find-wrap.active .container .share-main .title-wrap .sort {
    font-size: 12px;
    -ms-grid-columns: 4fr 3fr 1fr 30px;
        grid-template-columns: 4fr 3fr 1fr 30px;
  }
  .find-wrap.active .container .share-main .title-wrap .friends {
    font-size: 13px;
    -ms-grid-columns: 4fr 3fr 1fr 30px;
        grid-template-columns: 4fr 3fr 1fr 30px;
  }
  .find-wrap.active .container .share-main .title-wrap .friends .id {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .find-wrap.active .container .share-main .title-wrap .friends .id span {
    margin-right: 3px;
  }
  .find-wrap.active .container .share-main .find-wrap.active .findInput {
    width: 150px;
  }
}
/*# sourceMappingURL=share.css.map */