.empty{
  font-size: 30px;
  color: dimgrey;
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .empty{
    font-size: 25px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 768px){
  .empty{
    font-size: 23px;
    margin-top: 200px;
  }
}