@import "../../css/variables";

.container {
  width: $content-width;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: $border-small;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  padding: $base-space * 2;
  margin: 100px auto;
  @include color-var(color, font-color);

  .playlist-info {
    width: 100%;
    padding: 0 $base-space;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;

    .thumnail {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      box-shadow: 10px 5px 16px 5px rgba(0, 0, 0, 0.4);
      @include color-var(background-image, playlist-cover);
      background-size: cover;
    }

    .info {
      width: calc(100% - 150px);
      height: 100%;
      padding: $base-space;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .playlist-title {
        font-size: $font-xlarge;
        font-weight: $font-bold;
      }

      .tagsAdnCount {
        .playlist-tags {
          font-size: $font-small;
          margin-bottom: 4px;

          span {
            margin-bottom: 4px;
          }
        }

        .playlist-count {
          font-size: $font-small;
          display: flex;
          align-items: center;
          position: relative;

          .count {
            margin-left: 4px;
          }

          .unlike {
            display: none;
          }
          .unlike.active {
            display: block;
            position: absolute;
            font-size: 26px;
            left: 95px;
            &:hover {
              cursor: pointer;
            }
          }
          .like {
            display: none;
          }
          .like.active {
            display: block;
            position: absolute;
            font-size: 26px;
            left: 95px;
            color: rebeccapurple;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .content-wrap {
    width: 100%;
    padding: 0 $base-space;
    @include color-var(color, font-color);
    position: relative;

    .sort {
      width: 100%;
      display: grid;
      align-items: center;
      grid-template-columns: 3fr 2fr 2fr 55px;
      column-gap: 5px;
      @include color-var(border-top, sm-nav-border);
      @include color-var(border-bottom, sm-nav-border);
      font-size: $font-small;
      padding: 4px 0 4px $base-space;
    }

    .items {
      width: 100%;
      overflow-y: scroll;
      position: relative;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        width: 10px;
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgb(102, 100, 100);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: #717172;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
      }
      .item {
        width: 100%;
        height: 55px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 3fr 3fr 3fr 55px;
        column-gap: 5px;
        @include color-var(border-top, sm-nav-border);
        @include color-var(border-bottom, sm-nav-border);
        font-size: $font-small;
        padding: 4px 0 4px $base-space;
        margin: 0px auto;

        .cover {
          img {
            width: 48px;
            height: 48px;
            border-radius: 5px;
          }
        }
        .remove:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  $content-width: 680px;

  .container {
    width: $content-width;
  }
}

@media (max-width: 767px) {
  $content-width: 350px;

  .container {
    width: $content-width;
  }
}
