:root[color-theme="light"] {
  --background: #edecdd;
  --font-color: #111;
  --border: 1px solid #111;
  --bouncer1: #ffc931;
  --bouncer2: #d74639;
  --nav-bgc: rgba(239, 222, 205, 0.2);
  --sm-nav-bgc: rgba(239, 222, 205, 0.9);
  --sm-nav-border: 1px solid rgba(2, 2, 2, 0.2);
  --filter-bar-border: 1px solid rgba(25, 25, 25, 0.5);
  --login-btn: linear-gradient(125deg, #f5d270, #d77253, #f5d270);
  --login-border: 2px solid #707070;
  --count-color: #454545;
  --secession-btn: #e1dec8;
  --addPlaylist-modal: url("../../img/lightBg.png");
  --addPlaylist-btn: rgba(254, 254, 254, 0.7);
  --playlists-cover: url("../img/playlistCovers/lp3.png");
  --playlist-cover: url("../../img/playlistCovers/lp3.png");
  --addModal-color: rgb(228, 223, 207);
}

:root[color-theme="dark"] {
  --background: linear-gradient(to left, #242359, #0e0e1f);
  --font-color: #eee;
  --border: 1px solid #eee;
  --bouncer1: #d557e1;
  --bouncer2: #01adf7;
  --nav-bgc: rgba(92, 66, 75, 0.2);
  --sm-nav-bgc: rgba(92, 66, 75, 0.9);
  --sm-nav-border: 1px solid rgba(255, 255, 255, 0.2);
  --filter-bar-border: 1px solid rgba(238, 238, 238, 0.5);
  --login-btn: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
  --login-border: 2px solid #adadad;
  --count-color: #aaaaaa;
  --secession-btn: #242359;
  --addPlaylist-modal: url("../../img/darkBg.png");
  --addPlaylist-btn: rgba(187, 187, 187, 0.4);
  --playlists-cover: url("../img/playlistCovers/lp10.png");
  --playlist-cover: url("../../img/playlistCovers/lp10.png");
  --addModal-color: rgb(14, 14, 34);
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  padding: 32px;
  margin: 100px auto;
  color: #111;
  color: var(--font-color, #111);
}

.container .playlist-info {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
}

.container .playlist-info .thumnail {
  width: 200px;
  height: 200px;
}

.container .playlist-info .thumnail img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.container .playlist-info .info {
  width: 500px;
  margin: 10px 30px;
}

.container .playlist-info .info .playlist-title {
  margin-top: 80px;
  font-size: 25px;
  font-weight: 700;
}

.container .playlist-info .info .playlist-tags {
  margin-top: 20px;
  font-size: 18px;
}

.container .playlist-info .info .playlist-count {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container .playlist-info .info .playlist-count span {
  font-size: 16px;
  margin-right: 5px;
}

.container .playlist-info .info .playlist-count .unlike {
  display: none;
}

.container .playlist-info .info .playlist-count .unlike.active {
  display: block;
  position: absolute;
  font-size: 26px;
  left: 95px;
}

.container .playlist-info .info .playlist-count .unlike.active:hover {
  cursor: pointer;
}

.container .playlist-info .info .playlist-count .like {
  display: none;
}

.container .playlist-info .info .playlist-count .like.active {
  display: block;
  position: absolute;
  font-size: 26px;
  left: 95px;
  color: rebeccapurple;
}

.container .playlist-info .info .playlist-count .like.active:hover {
  cursor: pointer;
}

.container .content-wrap {
  width: 100%;
  color: #111;
  color: var(--font-color, #111);
  position: relative;
}

.container .content-wrap .sort {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 3fr 3fr 3fr 55px;
      grid-template-columns: 1fr 3fr 3fr 3fr 55px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  border-top: 1px solid rgba(2, 2, 2, 0.2);
  border-top: var(--sm-nav-border, 1px solid rgba(2, 2, 2, 0.2));
  border-bottom: 1px solid rgba(2, 2, 2, 0.2);
  border-bottom: var(--sm-nav-border, 1px solid rgba(2, 2, 2, 0.2));
  font-size: 14px;
  padding: 4px 0 4px 16px;
  margin: 0px auto;
}

.container .content-wrap .items {
  height: 500px;
  width: 100%;
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;
}

.container .content-wrap .items::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.container .content-wrap .items::-webkit-scrollbar-thumb {
  background-color: #666464;
  border-radius: 10px;
}

.container .content-wrap .items::-webkit-scrollbar-track {
  background-color: #717172;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 5px white;
          box-shadow: inset 0px 0px 5px white;
}

.container .content-wrap .items .item {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 3fr 3fr 3fr 55px;
      grid-template-columns: 1fr 3fr 3fr 3fr 55px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  border-top: 1px solid rgba(2, 2, 2, 0.2);
  border-top: var(--sm-nav-border, 1px solid rgba(2, 2, 2, 0.2));
  border-bottom: 1px solid rgba(2, 2, 2, 0.2);
  border-bottom: var(--sm-nav-border, 1px solid rgba(2, 2, 2, 0.2));
  font-size: 14px;
  padding: 4px 0 4px 16px;
  margin: 0px auto;
}

.container .content-wrap .items .item .cover img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.container .content-wrap .items .item .remove:hover {
  cursor: pointer;
}
/*# sourceMappingURL=myplaylist-list.css.map */