a {
  text-decoration: none;
  color: #000;
  :active {
    text-decoration: none;
  }
}
nav {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $base-space;
  background-color: #f8f8f8;

  .logo {
    font-weight: $font-bold;
    font-size: $font-large;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  .loginAndJoin {
    font-size: $font-medium;

    .login {
      margin-right: $base-space;
      cursor: pointer;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.7;
      }
    }

    .join {
      cursor: pointer;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
